.input_mode_link
{
    .input__box
    {
        padding-right: 0;

        white-space:   nowrap;
        overflow:      hidden;
        text-overflow: ellipsis;
    }

    .input__control
    {
        display: none;
        padding-left: 0 !important;
    }

    &.input_size_s
    {
        .input__box
        {
            height:      $control_size_s;
            line-height: $control_size_s;

            padding-left: $inputs_padding_s;
            margin-right: $inputs_padding_s;

            max-width: 112px;
        }
    }

    &.input_size_m
    {
        .input__box
        {
            height:      $control_size_m;
            line-height: $control_size_m;

            padding-left: $inputs_padding_m;
            margin-right: $inputs_padding_m;

            max-width: 110px;
        }
    }

    &.input_size_l
    {
        .input__box
        {
            height:      $control_size_l;
            line-height: $control_size_l;

            padding-left: $inputs_padding_l;
            margin-right: $inputs_padding_l;

            max-width: 130px;
        }
    }

    &.input_size_xl
    {
        .input__box
        {
            height:      $control_size_xl;
            line-height: $control_size_xl;

            padding-left: $inputs_padding_xl;
            margin-right: $inputs_padding_xl;

            max-width: 232px;
        }
    }

    &.input_focused {

        .input__trigger
        {
            display: none;
        }

        .input__box
        {
            padding-right: 0;
            margin-right:  0;

            max-width: inherit;
        }

        .input__control
        {
            display: inline-block;
        }
    }

    &.input_empty .input__trigger {
        opacity: .5;
    }
}
