:root {
    --placeholderColorOnColor: rgba(255, 255, 255, 0.5);
}

.input_theme_alfa-on-color {
    background: transparent;
    color: rgba(255, 255, 255, .9);

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .4);

    .input__control {
        color: rgba(255, 255, 255, .9);

        &::-webkit-input-placeholder {
            color: var(--placeholderColorOnColor);
        }

        &:-ms-input-placeholder {
            color: var(--placeholderColorOnColor);
        }

        &::-moz-placeholder {
            color: var(--placeholderColorOnColor);
        }
    }

    .input__clear {
        background-image: url(../__clear/input__clear_color.svg);
    }

    &.input_has-icon {
        .input__icon {
            color: rgba(255, 255, 255, .9);
            opacity: .6
        }
    }

    &.input_mode_link {
        border-color: transparent;
    }

    &.input_hovered {
        border-color: rgba(255, 255, 255, .9);
    }

    &.input_focused {
        border-color: rgba(255, 255, 255, .9);
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, .9);

        background-color: rgba(0, 0, 0, .15);
    }

    &.input_invalid {
        border-color: rgba(248, 96, 101, .85);

        &.input_focused {
            border-color: rgba(248, 96, 101, .85);
            box-shadow: 0px 0px 0px 1px rgba(248, 96, 101, .85);
            background: rgba(248, 96, 101, .08);
        }
    }

    &.input_disabled {
        border-color: transparent;

        background: rgba(255, 255, 255, .08);

        .input__box,
        .input__control {
            color: rgba(255, 255, 255, .3)
        }
        .input__icon {
            opacity: .3;
        }
    }

    &.input_size_s .input__clear,
    &.input_size_m .input__clear {
        background-size: 10px;
    }

    &.input_size_l .input__clear,
    &.input_size_xl .input__clear {
        background-size: 14px;
    }
}
