:root {
    --placeholderColorOnWhite: rgba(0,0,0,0.5);
}
.input_theme_alfa-on-white {

    background: rgba(255, 255, 255, .3);
    color: #000;

    border-width: 1px;
    border-style: solid;
    border-color: #ccc;

    transition: all 200ms ease;

    .input__control {
        color: #000;
        background: transparent;

        &::-webkit-input-placeholder {
            color: var(--placeholderColorOnWhite);
        }

        &:-ms-input-placeholder {
            color: var(--placeholderColorOnWhite);
        }

        &::-moz-placeholder {
            color: var(--placeholderColorOnWhite);
        }
    }

    .input__clear {
        background-image: url(../__clear/input__clear_white.svg);
    }

    &.input_has-addon .input__addon {
        color: #000;

        opacity: .6
    }

    &.input_mode_link {
        background: rgba(255, 255, 255, 0);
        border-color: transparent;

        &.input_hovered {
            background: rgba(255, 255, 255, .3);
        }

        &.input_focused {
            background: rgba(255, 255, 255, 1);
        }
    }

    &.input_mode_result .input__inner {
        color: #000;
    }

    &.input_invalid {
        border-color: #fc5c5e;
    }

    &.input_hovered,
    &.input_focused {
        border-color: rgba(0, 0, 0, .4);
    }

    &.input_focused {
        background: #fff;
    }

    &.input_focused.input_invalid,
    &.input_hovered.input_invalid {
        border-color: rgba(252, 92, 94, 1);
    }

    &.input_disabled {
        border-color: transparent;

        background: rgba(0, 0, 0, .06);

        .input__box,
        .input__control {
            color: #414141;
        }
    }

    &.input_size_s .input__clear,
    &.input_size_m .input__clear {
        background-size: 10px;
    }

    &.input_size_l .input__clear,
    &.input_size_xl .input__clear {
        background-size: 14px;
    }
}
