$fontSize               = (12 12 15 25);
$controlSize            = (25 35 45 55);
$controlPaddingHoriz    = (4 9 12 12);
$controlPaddingVert     = (13 15 17 19);
$clearSize              = (20 34 38 42);
$innerFontSize          = (25 48 62 73);
$addonFontSize          = (12 14 20 30);

.input_theme_alfa
{
    font-family: 'Roboto', sans-serif;

    position: relative;
    display:  inline-block;

    border-radius: 6px;

    box-sizing: border-box;

    transition: all 200ms ease;

    &:before
    {
        position: absolute;
        top:      1px;
        right:    1px;
        bottom:   1px;
        left:     1px;

        content: '';

        border-radius: 5px;
    }

    .input__box
    {
        position: relative;
        display:  block;

        -webkit-touch-callout: none;

        user-select: none;
    }

    .input__control
    {
        font:        inherit;
        line-height: inherit;

        box-sizing: border-box;

        padding:    0;
        margin:     0;

        width:      100%;

        border:     0;
        outline:    none;
        background: none;

        -webkit-appearance:          none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::-webkit-search-decoration
        {
            -webkit-appearance: none;
        }

        &::-webkit-search-cancel-button
        {
            display: none;
        }

        &::-webkit-input-placeholder
        {
            text-indent: 0;
        }

        &::-moz-placeholder
        {
            opacity: 1;
        }

        &::-ms-clear
        {
            display: none;
        }
    }

    &.input_has-clear .input__control
    {
        text-overflow: ellipsis;
    }

    .input__clear
    {
        position: absolute;
        top:      50%;
        right:    0;

        cursor:     text;
        transition: opacity 0.1s ease-out;

        opacity:    0;
        background: 50% 50% no-repeat;
        background-position: center center;

        &_visible
        {
            opacity: 0.3;

            &:hover
            {
                cursor: pointer;

                opacity: 1;
            }
        }
    }

    &.input_focused
    {
        z-index: 1;

        &.input_mode_link
        {
            .input__control
            {
                padding-left: 0;
            }
        }
    }

    &.input_disabled
    {
        &:before,
        .input__clear
        {
            display: none;
        }

        .input__box,
        .input__control
        {
            cursor: default;
        }
    }

    &.input_type_password .input__control
    {
        text-overflow: clip;
    }

    &.input_has-addon .input__addon
    {
        transition: all 200ms ease;
    }

    &.input_mode_link
    {
        padding-left: 0;
    }
}

for $sizeVal, i in s m l xl {
    .input_size_{$sizeVal}
    {
        font-size: ($fontSize[i])px;
        height:    ($controlSize[i])px;

        .input__control
        {
            padding-top:  ($controlPaddingHoriz[i])px; /* hack, default line-height */
            padding-bottom:  ($controlPaddingHoriz[i])px + 1; /* hack, default line-height  */
            padding-left: ($controlPaddingVert[i])px;
            padding-right: ($controlPaddingVert[i])px;
        }

        &.input_has-clear
        {
            .input__box
            {
                padding-right: ($clearSize[i])px;
            }

            .input__control
            {
                padding-right: 0;
            }

            .input__clear
            {
                width:       ($clearSize[i])px;
                height:      ($clearSize[i])px;
                margin-top: -($clearSize[i]/2)px;
            }
        }

        &.input_has-addon
        {
            .input__box
            {
                padding-right: ($controlSize[i])px;
            }

            .input__control
            {
                padding-right: 0;
            }

            .input__addon
            {
                top:       -1px;
                right:     -1px;
                width:     ($controlSize[i])px;
                height:    ($controlSize[i])px;

                line-height: ($controlSize[i])px;
                font-size:   ($addonFontSize[i])px;
            }
        }

        &.input_mode_link
        {
            .input__box
            {
                height:       ($controlSize[i])px - 2;
                padding-left: ($controlPaddingVert[i])px;
                margin-right: ($controlPaddingVert[i])px;
            }

            .input__trigger
            {
                line-height:  ($controlSize[i])px - 2;
            }
        }

    }
}

.control-group
{
    .input_theme_alfa
    {
        &:before
        {
            right: 0;
        }

        &.input_focused:before
        {
            right: 1px;
        }
    }

    > .input_theme_alfa:last-child,
    > :last-child .input_theme_alfa
    {
        &:before
        {
            right: 1px;
        }
    }
}
