.state {
    display: inline-block;
    margin-right: 14px;
    min-width: 200px;
}

.state__title {
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 11px;

    opacity: .2;

    margin-bottom: 5px;
}
