.card-number
{
    .card-number__dot
    {
        border-radius: 100%;
        border: 4px solid;
        display: inline-block;
        margin-right: 3px;
        vertical-align: middle;

        &:first-child
        {
            margin-left: 5px;
        }

        &:last-child
        {
            margin-right: 5px;
        }
    }
}
