.input__calendar {
    opacity: 0.4;
}

/* FIXME: maybe remove cascade*/
.input__calendar .icon {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    display: block;

    cursor: pointer;
}
