.input_bkg_color
{
    background: transparent;
    color: #fff;

    .input__control
    {
        color: #fff;
    }

    .input__symbol
    {
        color: #fff;
    }

    .input__result
    {
        color: #fff;
    }

    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-color: rgba(255,255,255,0.5);


    &.input_invalid
    {
        border-color: #fc5c5e;
        border-color: rgba(252, 92, 94, 0.6);

        .input__symbol {
            border-color: rgba(252, 92, 94, 0.6);
        }
    }

    &:before
    {
        background: transparent;
    }

    &::-webkit-input-placeholder
    {
        /*color: #fff;*/
        /*color: rgba(255,255,255,0.4);*/
    }

    &.input_view_symbol .input__symbol
    {
        border-color: rgba(255, 255, 255, .5);
    }

    &::-moz-placeholder
    {
        opacity: 1;
    }

    &.input_hovered
    {
        border-color: rgba(255,255,255,1);

        .input__symbol {
            border-color: rgba(255,255,255,1);
        }
    }

    &.input_focused
    {
        border-color: rgba(255,255,255,1);

        background-color: rgba(0,0,0,.3);

        .input__symbol {
            border-color: rgba(255,255,255,1);
        }
    }

    &.input_focused.input_invalid,
    &.input_hovered.input_invalid
    {
        border-color: rgba(252, 92, 94, 1);

        .input__symbol {
            border-color: rgba(252, 92, 94, 1);
        }
    }

    &.input_disabled
    {
        border-color: transparent;

        background: rgba(255,255,255, 0.1);

        .input__box,
        .input__control
        {
            color: rgba(255, 255, 255, 0.4);
        }
    }

    &.input_size_s .input__clear,
    &.input_size_m .input__clear
    {
        background-image: url('../../assets/_bkg/_color/clear_size_s.svg');
    }

    &.input_size_l .input__clear,
    &.input_size_xl .input__clear
    {
        background-image: url('../../assets/_bkg/_color/clear_size_l.svg');
    }
}
