.input_bkg_white
{
    background: $gray;
    color: #000;

    &:before
    {
        background: #fff;
    }

    .input__control
    {
        color: #000;
    }

    &.input_mode_link
    {
        background: white;
    }

    &.input_focused
    {
        background: $green;
    }

    &.input_hovered
    {
        background: $green;
    }

    &.input_disabled
    {
        background: rgba(0, 0, 0, 0.08);

        .input__box,
        .input__control
        {
            color: rgba(0, 0, 0, 0.4);
        }
    }

    &.input_size_s .input__clear,
    &.input_size_m .input__clear
    {
        background-image: url('../../assets/_bkg/_white/clean.svg');
        background-size: 10px;
    }

    &.input_size_l .input__clear,
    &.input_size_xl .input__clear
    {
        background-image: url('../../assets/_bkg/_white/clean.svg');
        background-size: 14px;
    }

    &.input_invalid
    {
        background: #fc5c5e;
        background: rgba(252, 92, 94, 0.6);
    }

    &.input_hovered, &.input_focused
    {
        &.input_has-addon .input__addon
        {
            border-color: $green;
        }

    }

    &.input_focused.input_invalid,
    &.input_hovered.input_invalid
    {
        background: rgba(252, 92, 94, 1);
    }

}
