$placeholder_color = rgba(255,255,255,0.5)

.input_bkg_color
{
    background: transparent;
    color: #fff;

    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-color: rgba(255,255,255,0.5);

    &:before
    {
        background: transparent;
    }

    .input__control
    {
        color: #fff;

        &::-webkit-input-placeholder
        {
            color: $placeholder_color;
        }

        &:-ms-input-placeholder
        {
            color: $placeholder_color;
        }

        &::-moz-placeholder
        {
            color: $placeholder_color;
        }
    }

    .input__clear
    {
        background-image: url(../__clear/_bkg/input__clear_bkg_color.svg);
    }

    &.input_has-addon .input__addon
    {
        color: #fff;

        opacity: .6
    }

    &.input_mode_link
    {
        border-color: transparent;
    }

    &.input_mode_result .input__inner
    {
        color: #fff;
    }

    &.input_invalid
    {
        border-color: #fc5c5e;
        border-color: rgba(252, 92, 94, 0.6);
    }

    &.input_hovered
    {
        border-color: rgba(255,255,255,1);
    }

    &.input_focused
    {
        border-color: rgba(255,255,255,1);

        background-color: rgba(0,0,0,.3);
    }

    &.input_focused.input_invalid,
    &.input_hovered.input_invalid
    {
        border-color: rgba(252, 92, 94, 1);
    }

    &.input_disabled
    {
        border-color: transparent;

        background: rgba(255,255,255, 0.1);

        .input__box,
        .input__control
        {
            color: rgba(255, 255, 255, 0.4);
        }
    }

    &.input_size_s ,
    &.input_size_m .input__clear
    {
        background-size: 10px;
    }

    &.input_size_l .input__clear,
    &.input_size_xl .input__clear
    {
        background-size: 14px;
    }
}
