.input_bkg_white
{
    background: gray;

    .input__control
    {
        color: #000;
    }

    &.input_type_link
    {
        background: white;
    }

    &:before
    {
        background: #fff;
    }

    &::-webkit-input-placeholder
    {
        color: #999;
    }

    &::-moz-placeholder
    {
        opacity: 1;
    }

    &.input_focused
    {
        background: green;
    }

    &.input_hovered
    {
        background: green;
    }

    &.input_disabled
    {
        background: rgba(0, 0, 0, 0.08);

        .input__box,
        .input__control
        {
            color: rgba(0, 0, 0, 0.4);
        }
    }

    &.input_size_s .input__clear,
    &.input_size_m .input__clear
    {
        background-image: url('../../assets/_bkg/_white/clear_size_s.svg');
    }

    &.input_size_l .input__clear,
    &.input_size_xl .input__clear
    {
        background-image: url('../../assets/_bkg/_white/clear_size_l.svg');
    }

    &.input_invalid
    {
        background: #fc5c5e;
        background: rgba(252, 92, 94, 0.6);
    }

    &.input_type_symbol .input__symbol
    {
        border-color: gray;
    }

    &.input_hovered, &.input_focused
    {
        .input__symbol {
            border-color: green;
        }
    }

    &.input_focused.input_invalid,
    &.input_hovered.input_invalid
    {
        background: rgba(252, 92, 94, 1);
    }

}
