$fontSize  = (12 12 15 25);

.label_theme_alfa
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

for $sizeVal, i in s m l xl {
    .label_size_{$sizeVal}
    {
        font-size: ($fontSize[i])px;
    }
}
