ctx = '.button_theme_alfa'
{ctx} {
    font-family: font_family;

    position: relative;
    display:  inline-block;

    margin:  0;
    padding: 0;

    user-select: none;

    border:        0;
    border-radius: btns_radius;

    outline: 0;

    text-align:  center;
    white-space: nowrap;

    transition: all 200ms ease;

    &::-moz-focus-inner
    {
        padding: 0;

        border: 0;
    }

    .button__text
    {
        overflow: hidden;

        text-overflow:  ellipsis;
        vertical-align: top;
    }

    .button__text
    {
        /*
         * These rules fixes Opera 12+ && IE 9 bug with extra top margin when pressed
         * Warning: bug still can be reproduced by clicking on button's border
         * TODO: try to fix
         */
        position: relative;
        display:  inline-block;
    }

    .button__icon
    {
        position: relative;
    }

    &.button_type_link
    {
        text-decoration: none;
    }

    /* Decorative element (inner background) */
    &:before
    {
        position: absolute;
        top:      btns_border_size;
        right:    btns_border_size;
        bottom:   btns_border_size;
        left:     btns_border_size;

        content: '';

        border-radius: btns_radius - 1;

        transition: all 200ms ease;
    }

    &.button_hovered
    {
        cursor: pointer;
    }

    &.button_focused-hard
    {
        z-index: 1;
    }

    &.button_view_action
    {
        font-weight: 500;
    }

    &.button_view_pseudo
    {
        overflow: hidden;

        background: 0;

        &:before
        {
            background: 0;
        }
    }

    &.button_disabled
    {
        &:before
        {
            display: none;
        }

        &.button_checked:before
        {
            display: block;

            background: #ffeba0;
        }

        .button__text
        {
            color: #aaa;
        }

        .icon
        {
            opacity: 0.3;
        }
    }

    &.button_size_s
    {
        font-size:   btns_font_size_s;
        line-height: control_size_s;

        .button__text
        {
            margin: 0 btns_padding_s;
        }
    }

    &.button_size_m
    {
        font-size:   btns_font_size_m;
        line-height: control_size_m;

        .button__text
        {
            margin: 0 btns_padding_s;
        }
    }

    &.button_size_l
    {
        font-size:   btns_font_size_l;
        line-height: control_size_l;

        .button__text
        {
            margin: 0 btns_padding_l;
        }
    }

    &.button_size_xl
    {
        font-size:   btns_font_size_xl;
        line-height: control_size_xl;

        .button__text
        {
            margin: 0 btns_padding_xl;
        }
    }

    & .icon + .button__text
    {
        margin-left: 0;
    }
}

.control-group
{
    .radio_checked + .radio {ctx}:before
    .checkbox_checked + .checkbox_checked
    {

    }

    {ctx} {
        border-radius: 0;

        &:before
        {
            border-radius: 0;
        }

        &.button_focused-hard.button /* Weight of selector should be greater for focused button (#1170) */
        {
            &:before
            {
            }
        }
    }

    > {ctx}:first-child,
    > :first-child {ctx}
    {
        border-radius: btns_radius 0 0 btns_radius;

        border-right: 0;

        &:before
        {
            border-radius: btns_radius - 1 0 0 btns_radius - 1;

            right: 0;
        }
    }

    > {ctx}:last-child,
    > :last-child {ctx}
    {
        border-radius: 0 btns_radius btns_radius 0;

        border-left: 0;

        &:before
        {
            border-radius: 0 btns_radius - 1 btns_radius - 1 0;

            left: 0;
        }
    }

    > :only-child {ctx}
    {
        border-radius: btns_radius;

        &:before
        {
            border-radius: btns_radius - 1;
        }
    }
}
