.tooltip {
    display: inline-block;

    cursor: pointer;
}

/* FIXME: maybe remove cascade? */
.popup.tooltip__popup {
    padding : 15px;

    &.popup_direction_right-top::before,
    &.popup_direction_left-top::after {
        display: inline-block;

        vertical-align: middle;

        content: '';

        width: 0;
        height: 0;
    }

    &.popup_direction_right-top::before {
        margin: -2px 15px 0px -22px;

        border-top: 7px solid transparent;
        border-right: 7px solid #000;
        border-right-color: rgba(0, 0, 0, 0.8);
        border-bottom: 7px solid transparent;
    }

    &.popup_direction_left-top::after {
        margin: -2px -22px 0 15px;

        border-top: 7px solid transparent;
        border-left: 7px solid #000;
        border-left-color: rgba(0, 0, 0, 0.8);
        border-bottom: 7px solid transparent;
    }

    &.popup_direction_bottom-right {
        margin-top: 7px !important;
        margin-left: 10px !important;
    }

    &.popup_direction_bottom-right::before {
        margin-top: -29px;
        right: 15px;

        border-top: 7px solid transparent;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid rgba(0,0,0,0.9);
        content: '';
        position: absolute;
    }
}

.hint {
    padding: 15px;

    max-width: 220px;
    min-height: 44px;
}

.hint_invalid {
    background-color: #fc5c5e;

    color: #fff;

    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);

    &.popup_direction_right-top {
        margin: -4px 0 0 10px;
    }

    &.popup_direction_left-top {
        margin: -4px 0 0 -10px;
    }

    &.popup_direction_right-top::before,
    &.popup_direction_left-top::after {
        display: inline-block;

        vertical-align: middle;

        content: '';

        width: 0;
        height: 0;
    }

    &.popup_direction_right-top::before {
        margin: -2px 15px 0px -22px;

        border-top: 7px solid transparent;
        border-right-width: 7px;
        border-right-style: solid;
        border-bottom: 7px solid transparent;
    }

    &.popup_direction_left-top::after {
        margin: -2px -22px 0 15px;

        border-top: 7px solid transparent;
        border-left-width: 7px;
        border-left-style: solid;
        border-bottom: 7px solid transparent;
    }

    &.popup_direction_right-top::before {
        border-right-color: #fc5c5e;
    }

    &.popup_direction_left-top::after {
        border-left-color: #fc5c5e;
    }

    &.popup_size_s
    {
        &.popup_direction_right-top,
        &.popup_direction_left-top
        {
            margin-top: -12px;
        }
    }

    &.popup_size_m
    {
        &.popup_direction_right-top,
        &.popup_direction_left-top
        {
            margin-top: -7px;
        }
    }

    &.popup_size_l
    {
        &.popup_direction_right-top,
        &.popup_direction_left-top
        {
            margin-top: -2px;
        }
    }

    &.popup_size_xl
    {
        &.popup_direction_right-top,
        &.popup_direction_left-top
        {
            margin-top: 3px;
        }
    }
}
