.select_bkg_color
{
    .select__button
    {
        color : white;
    }

    .select__tick
    {
        background-image: url(../../assets/_bkg/_color/arrow.svg);
    }

    &.select_size_s .select__tick
    {
        background-image: url(../../assets/_bkg/_color/arrow-s.svg);
    }
}
