.select_bkg_white
{
    .select__tick
    {
        background-image: url(../../bkg/_white/arrow.svg);
    }

    &.select_size_s .select__tick
    {
        background-image: url(../../bkg/_white/arrow-s.svg);
    }
}
