.*.swp

.project
.settings/
.idea/

.bem/cache
.bem/snapshots
.enb/tmp
node_modules
libs

pages/*/*
!pages/*/blocks
!pages/*/*.bemjson.js
pages/*/_*.bemjson.js

!pages/*/icons/*.svg

*.blocks/*/*.examples

coverage
coverage.json
gemini-report/


examples
specs
dist

*.log

.DS_Store

__coverage-*
