.*.swp

.project
.settings/
.idea/

.bem/cache
.bem/snapshots
.enb/tmp
node_modules
libs

*.bundles/*/*
!*.bundles/.bem/*
!*.bundles/*/blocks
!*.bundles/*/*.bemjson.js
*.bundles/*/_*.bemjson.js

/coverage
/coverage.json
/gemini-report/

/dist
/*.docs
/*.examples
/*.doc-examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs

*.log

.DS_Store

__coverage-*
