.page_theme_alfa {
    background-image:      radial-gradient(circle at 2.02% 21.97%, rgb(4, 45, 92), transparent 100%),
    radial-gradient(circle at 97.98% 47.94%, rgb(89, 211, 182), transparent 100%),
    radial-gradient(circle at 4.93% 54.93%, rgb(107, 255, 235), transparent 54%),
    radial-gradient(circle at 50% 50%, rgb(255, 255, 255), rgb(255, 255, 255) 100%);
    background-attachment: fixed;
}
