.radio_bkg_white
{
    .radio__box
    {
        transition: all 200ms ease;

        background: #fff;

        border-width: 1px;
        border-style: solid;
        border-color: alpha(#b0afb4, 0.8);
    }

    &.radio_checked
    {
        .radio__box
        {
            border-color: alpha(#b0afb4, 0.8);

            &:after
            {
                background: #4faf5b;
            }
        }
    }

    &.radio_focused,
    &.radio_hovered
    {
        .radio__box
        {
            border-color: #b0afb4;
        }
    }

    &.radio_hovered
    {

        &.radio_checked .radio__box
        {
            border-color: alpha(#b0afb4, 0.8);
        }
    }

    &.radio_disabled
    {
        color: #999;

        .radio__box
        {
            border-color: transparent;
            background: rgba(0, 0, 0, 0.08);
        }

        &.radio_checked .radio__box:after
        {
            opacity: 0.4;
        }
    }
}
