.radio_theme_alfa-on-white {

    color: rgba(0, 0, 0, .9);

    .radio__box {
        transition: all 200ms ease;
        border: 1px solid rgba(0, 0, 0, .3);
    }

    &.radio_checked {

        .radio__box {
            border-color: transparent;
            background: rgba(178, 12, 0, .85);

            &:after {
                background: rgba(255, 255, 255, .9);
            }
        }

        &.radio_hovered .radio__box {
            border-color: transparent;
            background: rgba(178, 12, 0, 1);
        }
    }

    &.radio_focused,
    &.radio_hovered {

        .radio__box {
            border-color: rgba(0, 0, 0, .9);
        }
    }

    &.radio_focused .radio__box {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .9);
    }

    &.radio_invalid {

        .radio__box {
            border-color: rgba(248, 96, 101, .85);
        }

        &.radio_focused,
        &.radio_hovered {

            .radio__box {
                border-color: rgba(248, 96, 101, .85);
                box-shadow: 0px 0px 0px 1px rgba(248, 96, 101, .85);
            }
        }
    }

    &.radio_disabled {
        color: rgba(0, 0, 0, .3);

        .radio__box {
            border-color: transparent;
            background: rgba(0, 0, 0, 0.05);
        }

        &.radio_checked .radio__box:after {
            color: rgba(0, 0, 0, .4);
            background: rgba(0, 0, 0, .2);
        }
    }
}
