.radio_theme_alfa-on-color {
    color: #fff;
}
.radio_theme_alfa-on-color .radio__box {
    -webkit-transition: all 200ms ease;
            transition: all 200ms ease;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
}
.radio_theme_alfa-on-color.radio_focused .radio__box, .radio_theme_alfa-on-color.radio_hovered .radio__box {
    border-color: #fff;
    background: rgba(255, 255, 255, 0.2);
}
.radio_theme_alfa-on-color.radio_checked .radio__box {
    border-color: #fff;
}
.radio_theme_alfa-on-color.radio_checked .radio__box:after {
    background: #fff;
}
.radio_theme_alfa-on-color.radio_disabled {
    color: #fff;
    color: rgba(255, 255, 255, 0.2);
}
.radio_theme_alfa-on-color.radio_disabled .radio__box {
    border-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
}
.radio_theme_alfa-on-color.radio_disabled .radio__box:after {
    opacity: 0.4;
}
