.form {
    padding-bottom: 60px;

    &:last-child {
        padding-bottom: 0;
    }
}


.form__footer {
    padding-top: 20px;
}

.form_view_line {

    &.form_size_s,
    &.form_size_m {
        .form__footer {
            padding-left: 115px;
        }
    }

    &.form_size_l,
    &.form_size_xl {
        .form__footer {
            padding-left: 165px;
        }
    }
}
