.form.form_size_m {
    padding-bottom: 60px;
}
.form.form_size_m .form__header {
    margin-bottom: 40px;
}
.form.form_size_m .form__content {
    padding-left: 40px;
}
.form.form_size_m .form__footer {
    padding-top: 20px;
    padding-left: 225px;
}
.form.form_size_m .form__field {
    padding-bottom: 20px;
}
.form.form_size_m .form__field-label {
    padding-top: 7px;
    margin-right: 20px;
    width: 165px;
}
.form.form_size_m .form__hint {
    padding-top: 10px;
    padding-left: 185px;
}
