.popup {
    position: absolute;
    visibility: hidden;
    margin: -9999px 0 0 -9999px;

    border-radius: 4px;

    box-sizing: border-box;

    z-index: 9999;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.popup_size_s {
    padding: 8px 12px;
    font-size: 13px;
}

.popup_size_m {
    padding: 10px 14px;
    font-size: 16px;
}

.popup_size_l {
    padding: 12px 18px;
    font-size: 18px;
}

.popup_size_xl {
    padding: 14px 22px;
    font-size: 20px;
}

.popup_visible {
    visibility: visible;
    overflow: auto;
    margin: 2px 0;
}
