.radio-group_theme_alfa
{
    display: inline-block;

    &.radio-group_size_m
    {
        line-height: control_size_m;
    }

    &.radio-group_size_l
    {
        line-height: control_size_l;
    }

    &.radio-group_type_button
    {
        display: inline-block;

        white-space: nowrap;
    }
}
