$paddingVert = (6 8 10 12);
$paddingHor = (13 15 17 19);
$fontSize = (12 12 15 25);

.menu_theme_alfa
{
    overflow: visible;

    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;

    user-select: none;

    outline: 0;

    border-radius: 6px;

    for sizeVal, i in (s m l xl) {
        &.menu_size_{sizeVal}
        {

            /* Using pseudo-elements intead of paddings because of Firefox bug with bottom padding (#1158):
             * https://bugzilla.mozilla.org/show_bug.cgi?id=748518 */
            &::before,
            &::after
            {
                display: block;

                content: '';
            }

            .menu__group
            {
                &-title
                {
                    font-size: ($fontSize[i])px;
                    padding: ($paddingVert[i])px ($paddingHor[i])px;
                    background: #fafafa;
                    border: 1px solid #e6e6e6;
                    border-width: 1px 0;
                }
            }
        }
    }

    .menu__group
    {
        &-title
        {
            color: #333;
        }

        & + .menu__group
        {
            border-top: 0;
        }

        &:last-child
        {
            padding-bottom: 0;

            border-bottom: 0;
        }

        &:first-child
        {
            padding-top: 0;

            border-top: 0;
        }
    }
}

.menu__additional
{
    padding-top: 22px;
    padding-bottom: 5px;
    outline: none;
}
