.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.footer__inner {
    margin: auto;
    height: 150px;
    padding: 40px 25px 0;

    box-sizing: border-box;
}

.footer__menu {
    float: left;

    box-sizing: border-box;
    padding: 25px 0;
    width: 50%;
}

.footer__additional {
    padding-top: 35px;

    float: left;

    margin-left: 20px;
}

.footer__info {
    padding: 15px 0;
    width: 250px;

    float: right;
}

.footer__social {
    margin-bottom: 10px;
}
