.footer {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;

    border-top: 1px solid rgba(255, 255, 255, .3);
}

.footer__inner {
    width: 1250px;
    height: 150px;

    -moz-box-sizing: border-box;

         box-sizing: border-box;

    padding: 40px 40px 40px 28px;
    margin: auto;
}

.footer__menu {
    opacity: .4;

    float: left;

    -moz-box-sizing: border-box;

         box-sizing: border-box;
    padding: 25px 0;
    width: 50%;
}

.footer__additional {
    padding-top: 35px;

    float: left;

    margin-left: 20px;

    opacity: .5;
}

.footer__copyright {
    padding: 15px 0;
    width: 200px;

    float: right;

    opacity: .5;
}
