.button_theme_alfa-on-white {
    color: rgba(0, 0, 0, .9);

    background: rgba(255, 255, 255, .3);

    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .3);

    &.button_hovered {
        border-color: rgba(0, 0, 0, .9);
    }

    &.button_focused-hard {
        border-color: rgba(0, 0, 0, .9);
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .9);

        &.button_hovered {
            box-shadow: none;
            border-color: rgba(0, 0, 0, .9);
        }
    }

    &.button_pressed {
        border-color: rgba(0, 0, 0, .9);
        background: rgba(0, 0, 0, .05);
        color: rgba(0, 0, 0, .9);
    }

    &.button_view_action {
        background: rgba(0, 0, 0, .15);
        border-color: transparent;
        color: rgba(0, 0, 0, .9);

        &.button_hovered {
            background: rgba(0, 0, 0, .25);
        }

        &.button_pressed {
            background: rgba(0, 0, 0, .30);
        }

        &.button_focused-hard {
            border-color: rgba(0, 0, 0, .9);

            &.button_hovered {
                border-color: transparent;
            }
        }
    }

    &.button_view_extra {
        color: rgba(255, 255, 255, 1);
        background: rgba(178, 12, 0, .85);
        border-color: rgba(178, 12, 0, .85);

        &.button_hovered {
            background: rgba(178, 12, 0, 1);
            border-color: rgba(178, 12, 0, 1);
        }

        &.button_focused-hard {
            border-color: rgba(0, 0, 0, .9);

            &.button_hovered {
                border-color: rgba(178, 12, 0, 1);
            }
        }

        &.button_pressed {
            background: rgba(158, 12, 0, 1);
            border-color: rgba(158, 12, 0, 1);
        }
    }

    &.button_view_other {
        background: rgba(80, 64, 218, .85);
        border-color: rgba(80, 64, 218, .85);

        color: rgba(255, 255, 255, 1);

        &.button_hovered {
            background: rgba(71, 57, 195, .85);
            border-color: rgba(71, 57, 195, .85);
        }

        &.button_focused-hard {
            border-color: rgba(0, 0, 0, .9);

            &.button_hovered {
                border-color: rgba(71, 57, 195, .85);
            }
        }

        &.button_pressed {
            background: rgba(64, 51, 174, .85);
            border-color: rgba(64, 51, 174, .85);
        }
    }

    &.button_view_pseudo {
        border-style: dashed;

        &.button_focused-hard {
            border-color: rgba(0, 0, 0, .9);
            border-style: solid;

            &.button_hovered {
                border-color: rgba(239, 49, 36, .5);
                border-style: dashed;
            }
        }
    }

    &.button_disabled {
        border-color: transparent;
        background: rgba(0, 0, 0, .08);

        .button__text {
            color: rgba(0, 0, 0, .3)
        }
    }
}

.control-group
{
    .checkbox_hovered + .checkbox_theme_alfa-on-white,
    .radio_hovered + .radio_theme_alfa-on-white {

        .button_theme_alfa-on-white {
            border-left-color: rgba(0, 0, 0, .4);
        }
    }

    > :last-child {

        .button_theme_alfa-on-white {
            border-right-color: #ccc;

            &.button_hovered {
                border-right-color: rgba(0, 0, 0, .4);
            }

            &.button_checked,
            &.button_disabled {
                border-right-color: transparent;

                &.button_hovered {
                    border-right-color: rgba(0, 0, 0, .4);
                }
            }
        }
    }
}
