.button_theme_alfa-on-white {
    color: rgba(0, 0, 0, .9);

    background: rgba(255, 255, 255, .3);

    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .3);

    &.button_hovered {
        border-color: rgba(0, 0, 0, .9);
    }

    &.button_focused-hard {
        border-color: rgba(0, 0, 0, .9);
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .9);

        &.button_hovered {
            box-shadow: none;
            border-color: rgba(0, 0, 0, .9);
        }
    }

    &.button_pressed {
        border-color: rgba(0, 0, 0, .9);
        background: rgba(0, 0, 0, .05);
        color: rgba(0, 0, 0, .9);
    }

    &.button_view_action {
        background: rgba(0, 0, 0, .15);
        border-color: transparent;
        color: rgba(0, 0, 0, .9);

        &.button_hovered {
            background: rgba(0, 0, 0, .25);
        }

        &.button_pressed {
            background: rgba(0, 0, 0, .30);
        }

        &.button_focused-hard {
            border-color: rgba(0, 0, 0, .9);

            &.button_hovered {
                border-color: transparent;
            }
        }
    }

    &.button_view_extra {
        color: rgba(255, 255, 255, 1);
        background: rgba(178, 12, 0, .85);
        border-color: rgba(178, 12, 0, .85);

        &.button_hovered {
            background: rgba(178, 12, 0, 1);
            border-color: rgba(178, 12, 0, 1);
        }

        &.button_focused-hard {
            border-color: rgba(0, 0, 0, .9);

            &.button_hovered {
                border-color: rgba(178, 12, 0, 1);
            }
        }

        &.button_pressed {
            background: rgba(158, 12, 0, 1);
            border-color: rgba(158, 12, 0, 1);
        }
    }

    &.button_view_other {
        background: rgba(80, 64, 218, .85);
        border-color: rgba(80, 64, 218, .85);

        color: rgba(255, 255, 255, 1);

        &.button_hovered {
            background: rgba(71, 57, 195, .85);
            border-color: rgba(71, 57, 195, .85);
        }

        &.button_focused-hard {
            border-color: rgba(0, 0, 0, .9);

            &.button_hovered {
                border-color: rgba(71, 57, 195, .85);
            }
        }

        &.button_pressed {
            background: rgba(64, 51, 174, .85);
            border-color: rgba(64, 51, 174, .85);
        }
    }

    &.button_view_pseudo {
        border-style: dashed;

        &.button_focused-hard {
            border-color: rgba(0, 0, 0, .9);
            border-style: solid;

            &.button_hovered {
                border-color: rgba(239, 49, 36, .5);
                border-style: dashed;
            }
        }
    }

    &.button_disabled {
        border-color: transparent;
        background: rgba(0, 0, 0, .08);

        .button__text {
            color: rgba(0, 0, 0, .3)
        }
    }
}

.control-group {

    .button_theme_alfa-on-white {
        &.button_hovered {
            border-color: rgba(0, 0, 0, .9);
        }

        &.button_checked {
            border-right-color: rgba(0, 0, 0, .15);
        }

        &.button_disabled {
            border-color: rgba(0, 0, 0, .3);
            border-right-color: transparent;
        }
    }

    .checkbox_view_action,
    .radio_view_action {
        .button_theme_alfa-on-white {
            &.button_checked {
                color: rgba(0, 0, 0, .9);
                background: rgba(0, 0, 0, .15);

                &.button_hovered {
                    background: rgba(0, 0, 0, .25);
                    border-color: rgba(0, 0, 0, .9);
                }
            }
        }
    }

    .checkbox_view_extra,
    .radio_view_extra {
        .button_theme_alfa-on-white {
            &.button_checked {
                color: rgba(255, 255, 255, 1);
                background: rgba(178, 12, 0, .85);

                &.button_hovered {
                    background: rgba(178, 12, 0, 1);
                    border-color: rgba(178, 12, 0, 1);
                }
            }
        }
    }

    .checkbox_checked + .checkbox,
    .radio_checked + .radio {
        .button_theme_alfa-on-white {
            border-left-color: transparent;

            &.button_hovered {
                border-left-color: rgba(0, 0, 0, .9);
            }
        }
    }

    .checkbox_hovered + .checkbox,
    .radio_hovered + .radio,
    .checkbox_hovered + .checkbox_checked,
    .radio_hovered + .radio_checked {
        .button_theme_alfa-on-white {
            border-left-color: transparent;
        }
    }

    .checkbox_hovered + .checkbox_disabled,
    .radio_hovered + .radio_disabled,
    .checkbox_checked + .checkbox_disabled,
    .radio_checked + .radio_disabled {
        .button_theme_alfa-on-white.button_disabled {
            border-left-color: transparent;
        }
    }

    .checkbox_checked.checkbox_disabled + .checkbox_disabled,
    .radio_checked.radio_disabled + .radio_disabled {
        .button_theme_alfa-on-white.button_disabled {
            border-left-color: rgba(0, 0, 0, .15);
        }
    }

    .checkbox_disabled + .checkbox_disabled,
    .radio_disabled + .radio_disabled {
        .button_theme_alfa-on-white.button_disabled {
            border-left-color: rgba(0, 0, 0, .05);
        }
    }

    > :last-child {
        .button_theme_alfa-on-white {
            border-right-color: rgba(0, 0, 0, .3);

            &.button_hovered {
                border-color: rgba(0, 0, 0, .9) !important;
            }

            &.button_disabled {
                border-right-color: rgba(0, 0, 0, .15);
            }
        }
    }
}
