lineHeight = ($control_size_s $control_size_m $control_size_l $control_size_xl)
paddingVert = (6px 8px 10px 12px);
paddingHor = ($inputs_padding_s $inputs_padding_m $inputs_padding_l $inputs_padding_xl);
fontSize = ($inputs_font_size_s $inputs_font_size_m $inputs_font_size_l $inputs_font_size_xl);

.menu_theme_alfa
{
    overflow: visible;

    font-weight: $font_weight;
    font-family: $font_family;

    box-sizing: border-box;

    user-select: none;

    outline: 0;

    border-radius: $menu_radius;

    for sizeVal, i in (s m l xl) {
        &.menu_size_{sizeVal}
        {

            /* Using pseudo-elements intead of paddings because of Firefox bug with bottom padding (#1158):
             * https://bugzilla.mozilla.org/show_bug.cgi?id=748518 */
            &::before,
            &::after
            {
                display: block;

                content: '';
            }

            .menu__group
            {
                &-title
                {
                    font-size: (fontSize[i]);
                    padding: (paddingVert[i]) (paddingHor[i]);
                    background: #fafafa;
                    border: 1px solid #e6e6e6;
                    border-width: 1px 0;
                }
            }
        }
    }

    .menu__group
    {
        &-title
        {
            color: #333;
        }

        & + .menu__group
        {
            border-top: 0;
        }

        &:last-child
        {
            padding-bottom: 0;

            border-bottom: 0;
        }

        &:first-child
        {
            padding-top: 0;

            border-top: 0;
        }
    }
}

.menu__additional
{
    padding-top: 22px;
    padding-bottom: 5px;
    outline: none;
}
