fontSize = (inputs_font_size_s inputs_font_size_m inputs_font_size_l inputs_font_size_xl);
lineHeight = (control_size_s control_size_m control_size_l control_size_xl)
paddingVert = (3 4 5 6);
paddingHor = (10 13 15 20);

.menu_theme_alfa
{
    font-weight: font_weight;
    font-family: font_family;

    box-sizing: border-box;

    user-select: none;

    outline: 0;

    border-radius: menu_radius;

    for sizeVal, i in (s m l xl) {
        &.menu_size_{sizeVal}
        {
            font-size:   (fontSize[i]);
            line-height: (lineHeight[i]);

            /* Using pseudo-elements intead of paddings because of Firefox bug with bottom padding (#1158):
             * https://bugzilla.mozilla.org/show_bug.cgi?id=748518 */
            &::before,
            &::after
            {
                display: block;

                content: '';
            }

            .menu-item + .menu__group
            {
                margin-top: (paddingVert[i])px;
            }

            .menu__group
            {
                padding: (paddingVert[i])px 0;

                &-title
                {
                    padding: 0 (paddingHor[i])px;
                }
            }
        }
    }

    .menu__group
    {
        &-title
        {
            color: #999;
        }

        & + .menu__group
        {
            border-top: 0;
        }

        &:last-child
        {
            padding-bottom: 0;

            border-bottom: 0;
        }

        &:first-child
        {
            padding-top: 0;

            border-top: 0;
        }
    }

    &.menu_view_dropdown
    {
        background: rgba(0,0,0,0.8);
    }
}
