.input_mode_link {

    .input__box {
        padding-right: 0;

        white-space:   nowrap;
        overflow:      hidden;
        text-overflow: ellipsis;

    }

    .input__control {
        display: none;
    }

    &.input_focused {

        .input__trigger {
            display: none;
        }

        .input__box {
            padding-right: 0;
            margin-right:  0;

            max-width: inherit;
        }

        .input__control {
            display: inline-block;
        }
    }
}
