.checkbox_theme_alfa-on-white {

    .checkbox__box {
        transition: all 200ms ease;

        background: rgba(255, 255, 255, .3);

        border: 1px solid rgba(0, 0, 0, .3);

    }

    &.checkbox_checked {

        .checkbox__box {
            border-color: transparent;
            background: rgba(178, 12, 0, .85);
        }

        &.checkbox_hovered .checkbox__box {
            border-color: transparent;
            background: rgba(178, 12, 0, 1);
        }
    }

    &.checkbox_focused,
    &.checkbox_hovered {

        .checkbox__box {
            border-color: rgba(0, 0, 0, .9);
        }
    }

    &.checkbox_focused .checkbox__box {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .9);
    }

    &.checkbox_disabled {
        color: rgba(0, 0, 0, .3);

        .checkbox__box {
            border-color: transparent;
            background: rgba(0, 0, 0, 0.05);
        }

        &.checkbox_checked .checkbox__box:after {
            background-image: url(../__box/checkbox__box_black.svg);
            opacity: 0.15;
        }
    }

    &.checkbox_type_button {

        .button_checked {
            background: #ccc;
        }
    }
}
