.checkbox_theme_alfa-on-color {
    color: rgba(255, 255, 255, .9);

    .checkbox__box {
        transition: all 200ms ease;

        border-width: 1px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.5);
    }

    &.checkbox_checked {

        .checkbox__box {
            border-color: transparent;
            background: rgba(178, 12, 0, .85);
        }

        &.checkbox_hovered .checkbox__box {
            border-color: transparent;
            background: rgba(178, 12, 0, 1);
        }
    }

    &.checkbox_focused,
    &.checkbox_hovered {

        .checkbox__box {
            border-color: rgba(255, 255, 255, .9);
        }
    }

    &.checkbox_focused .checkbox__box {
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, .9);
    }

    &.checkbox_disabled {
        color: rgba(255, 255, 255, .3);

        .checkbox__box {
            border-color: transparent;
            background: rgba(255, 255, 255, 0.05);
        }

        &.checkbox_checked .checkbox__box:after {
            opacity: .2;
        }
    }

    &.checkbox_type_button {

        .button_checked {
            background: #ccc;
        }
    }
}
