.logo {
    display: inline-block;
    line-height: 0;
}

.logo__icon,
.logo__text {
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.logo_size_s {

    padding: 7px 8px;
    line-height: 24px;

    .logo__icon {
        width: 15px;
        height: 24px;
    }

    .logo__text {
        width: 60px;
        height: 11px;
        margin-left: 7px;
    }
}

.logo_size_m {

    padding: 11px 12px;
    line-height: 36px;

    .logo__icon {
        width: 23px;
        height: 37px;
    }

    .logo__text {
        width: 89px;
        height: 15px;
        margin-left: 11px;
    }
}

.logo_size_l {

    padding: 14px 15px;
    line-height: 48px;

    .logo__icon {
        width: 30px;
        height: 48px;
    }

    .logo__text {
        width: 119px;
        height: 20px;
        margin-left: 15px;
    }
}

.logo_size_xl {

    padding: 18px 19px;
    line-height: 61px;

    .logo__icon {
        width: 39px;
        height: 61px;
    }

    .logo__text {
        width: 148px;
        height: 25px;
        margin-left: 19px;
    }
}

@media (--medium-only) {
    .logo__text {
        display: none;
    }
}
