.collapse_bkg_color {

    .collapse__link {
        outline: none;
    }

    .collapse__link:after {
        content: '';
        background: url(../../assets/_bkg/_color/arrow.svg);
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 5px;
    }

}

.collapse_bkg_color.collapse_expanded {

    .collapse__link:after {
        transform: scaleY(-1);
    }

}
