.form-field {
    position: relative;

    &:last-child {
        padding-bottom: 0;
    }
}

.form-field_size_s {
    padding-bottom: 20px;

    .form-field__label {
        padding-bottom: 12px;
    }

    &.form-field_view_line {
        .form-field__label {
            padding-top: 5px;
            width: 100px;
        }

        .form-field__control {
            padding-left: 115px;

            & > .radio, & > .radio-group {
                padding-top: 8px;
            }
        }
    }
}

.form-field_size_m {
    padding-bottom: 30px;

    .form-field__label {
        padding-bottom: 10px;
    }

    &.form-field_view_line {
        .form-field__label {
            padding-top: 10px;
            width: 100px;
        }

        .form-field__control {
            padding-left: 115px;

            & > .radio, & > .radio-group {
                padding-top: 13px;
            }
        }
    }
}

.form-field_size_l,
.form-field_size_xl {
    padding-bottom: 35px;

    .form-field__label {
        padding-bottom: 15px;
    }

    &.form-field_view_line {
        .form-field__label {
            padding-top: 15px;
            width: 150px;
        }

        .form-field__control {
            padding-left: 165px;

            & > .radio, & > .radio-group {
                padding-top: 18px;
            }
        }
    }
}

.form-field_view_line {

    .form-field__label {
        position: absolute;
        top: 0;
        left: 0;
        padding-bottom: 0!important;
    }

    &.form-field_view_line {

        .form-field__control {
            & > .radio-group_type_button {
                padding-top: 0;
            }
        }
    }
}
