.plate__clear
{
    position: absolute;
    top: 0;
    right: 0;

    width: 14px;
    height 14px;
    padding: 10px;

    opacity: .3;

    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;

    transition: opacity .1s ease-out;

    &:hover
    {
        cursor: pointer;
        opacity: 1;
    }
}
