.plate__clear
{
    position: absolute;
    top: 16px;
    right: 16px;

    width: 17px;
    height 17px;

    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}
