.plate_theme_alfa
{
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);

    margin-right: 7px;
    margin-bottom: 7px;
}
