html
{
    height: 100%;
}

main
{
    display: block;
}

.page_theme_alfa
{
    margin : 0;

    height: 100%;

    .page__inner
    {
        min-height: 100%;

        margin-bottom: - $footer_height - 2px;

        &:after {
            content: "";
            display: block;

            height: $footer_height;
        }
    }


    .page__content
    {
        width: $page_width;

        margin: auto;

        padding-top:    120px;
        padding-bottom: 40px;
    }

    .page__footer
    {
        height:    $footer_height;

        min-width: $page_width;
    }
}
