.calendar_theme_alfa-on-color {
    color: rgba(255, 255, 255, .9);
    background-color: rgba(0, 0, 0, .9);

    .calendar__arrow_direction_left {
        background-image: url(base64/arrow_cl.svg);
    }

    .calendar__arrow_direction_right {
        background-image: url(base64/arrow_cr.svg);
    }
}

