.spin {
    display: none;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: spin_animation .8s infinite linear;
}

.spin_visible {
    display: inline-block;
}

.spin_size_s {
    width: 16px;
    height: 16px;
}

.spin_size_m {
    width: 20px;
    height: 20px;
}

.spin_size_l {
    width: 25px;
    height: 25px;
}

.spin_size_xl {
    width: 30px;
    height: 30px;
}

@keyframes spin_animation {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

