.header {
    width: 100%;

    position: fixed;

    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    z-index: 2000;

    -webkit-transition: all 200ms ease;

            transition: all 200ms ease;
}
.header.header_fixed {
    background-color: rgba(1,1,1,.6);
}
.header .header__inner {
    width: 1250px;
    padding-left: 28px;
    margin: auto;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.header .header__logo {
    float: left;
    vertical-align: top;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding: 25px 35px;
    margin-right: 30px;
    border: 0;
    border-radius: 0 0 5px 5px;
    background-color: #ef3124;
    outline: none;
}
.header .header__content {
    padding-top: 20px;
}
.header .header__menu {
    float: left;
}
.header .header__support {
    float: right;
    vertical-align: top;
    margin-right: 30px;
}
.header .header__support-phone {
    padding-top: 10px;
}
.header .header__user {
    float: right;
}
.header .header__user-link {
    line-height: 26px;
}
.header .header__user-out {
    margin-left: 15px;
    border-bottom: none;
}
.header .header__user-out-icon {
    width: 15px;
    height: 15px;
}
