.textarea_bkg_white
{
    background: gray;

    &:before
    {
        background: #fff;
    }

    &::-webkit-input-placeholder
    {
        color: #999;
    }

    &::-moz-placeholder
    {
        color: #999;
    }

    &.textarea_disabled
    {
        background: rgba(0, 0, 0, 0.08);

        .textarea__control
        {
            color: rgba(0, 0, 0, 0.4);
        }
    }

    &.textarea_hovered, &.textarea_focused
    {
        background: green;
    }
}
