.textarea_theme_alfa {
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;

    position: relative;
    display:  inline-block;

    padding: 0;
    margin: 0;

    vertical-align: top;
    line-height: inherit;

    border-radius: 6px;

    outline:    none;
    background: none;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &::-webkit-input-placeholder {
        text-indent: 0;
    }

    &::-moz-placeholder {
        opacity: 1;
    }

    /* Decorative element (inner background) */
    &:before {
        position: absolute;
        top:      1px;
        right:    1px;
        bottom:   1px;
        left:     1px;

        content: '';

        border-radius: 5px;
    }

    &.textarea_focused {
        z-index: 1;
    }

    &.textarea_disabled {
        cursor: default;

        resize: none;

        &:before {
            display: none;
        }
    }

    &.textarea_size_s {
        font-size: 12px;
        padding: 4px 13px;
        min-height: 2em;
    }

    &.textarea_size_m {
        font-size: 12px;
        padding: 4px 15px;
        min-height: 4em;
    }

    &.textarea_size_l {
        font-size: 15px;
        padding: 4px 17px;
        min-height: 6em;
    }

    &.textarea_size_s {
        font-size: 25px;
        padding: 4px 19px;
        min-height: 8em;
    }
}
