.buttons
{
    .row__sidebar
    {
        width: 100px;
        float : left;
        color: white;
    }

    .row__content
    {
        float : left;
    }

    .buttons__size-section
    {
        display: inline-block;
        width: 100%;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .controls
    {
        padding : 5px;
    }
}
