$height = 70px;

.notification_theme_alfa
{
    font-family: $font_family;
    font-weight: $font_weight;
    transition: right 200ms ease;
    z-index: 3000;
    position: fixed;
    top: 10px;
    right: -500px;

    .notification__plate
    {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-bottom: 0 !important;
        height: $height;
    }

    .notification__status
    {
        text-align: center;
        width: 50px;
        height: $height;
        line-height: $height;
        position: absolute;
        border-radius: 4px 0 0 4px;
    }

    .notification__message
    {
        display: table;
        height: $height;
        padding-left: 60px;
        min-width: 200px;
        max-width: 250px;
    }

    .notification__inner
    {
        display: table-cell;
        vertical-align: middle;
    }

    //visible
    &.notification_visible
    {
        right: 10px !important;
    }

    //type colors
    .notification__status_type_ok
    {
        background-color: $green;
    }

    .notification__status_type_fail
    {
        background-color: $red;
    }
}
