$height = 109px;
$width = 390px;
$notifWidth = 80px;

.notification_theme_alfa
{
    font-family: 'Roboto', sans-serif;
    transition: right 200ms ease;
    z-index: 3000;
    position: fixed;
    top: 17px;
    right: -500px;

    .notification__plate
    {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-bottom: 0 !important;
        height: $height;
        width: $width;
    }

    .notification__status
    {
        text-align: center;
        width: $notifWidth;
        height: $height;
        line-height: $height;
        position: absolute;
        border-radius: 4px 0 0 4px;
    }

    .notification__message
    {
        display: table;
        height: $height;
        padding-left: $notifWidth + 21px;
        min-width: 200px;
        max-width: 360px;
    }

    .notification__inner
    {
        display: table-cell;
        vertical-align: middle;
    }

    //visible
    &.notification_visible
    {
        right: 10px !important;
    }

    //type colors
    .notification__status_type_ok
    {
        background-color: $green;
    }

    .notification__status_type_fail
    {
        background-color: $red;
    }

    .notification__status_type_error
    {
        background-color: #de3c16;
    }
}
