.link_theme_alfa-on-color {
    color: rgba(255, 255, 255, .9);

    .link__text {
        border-color: rgba(255, 255, 255, .4);
    }

    &.link_hovered,
    &.link_focused {
        color: rgba(255, 255, 255, 1);

        .link__text {
            border-color: rgba(255, 255, 255, 1);
        }
    }

    &.link_disabled {
        color: rgba(255, 255, 255, .3);

        .link__text {
            border-color: transparent;
        }
    }
}
