.notification {
    font-family: 'Roboto', sans-serif;
    -webkit-transition: right 200ms ease;
            transition: right 200ms ease;
    z-index: 3000;
    position: fixed;
    top: 17px;
    right: -500px;

    /* FIXME: one type for error! */
}
.notification.notification_visible {
    right: 10px !important;
}
.notification .notification__plate {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    height: 109px;
    width: 390px;
}
.notification .notification__status {
    text-align: center;
    width: 80px;
    height: 109px;
    line-height: 109px;
    position: absolute;
    border-radius: 4px 0 0 4px;
}
.notification .notification__message {
    display: table;
    height: 109px;
    padding-left: 101px;
    min-width: 200px;
    max-width: 360px;
}
.notification .notification__inner {
    display: table-cell;
    vertical-align: middle;
}
.notification .notification__status_type_ok {
    background-color: #4faf5b;
}
.notification .notification__status_type_fail {
    background-color: #de3c16;
}
.notification .notification__status_type_error {
    background-color: #de3c16;
}
