.checkbox_bkg_white
{

    .checkbox__box {
        transition: all 200ms ease;

        background: #fff;

        border-width: 1px;
        border-style: solid;
        border-color: alpha(#b0afb4, 0.8);

        &:after
        {
            background-image: url(../__box/_bkg/checkbox__box_bkg_white.svg);
        }
    }

    &.checkbox_checked
    {
        .checkbox__box
        {
            border-color: alpha(#b0afb4, 0.8);
        }
    }

    &.checkbox_focused,
    &.checkbox_hovered
    {
        .checkbox__box
        {
            border-color: #b0afb4;
        }
    }

    &.checkbox_hovered
    {
        &.checkbox_checked .checkbox__box
        {
            border-color: alpha(#b0afb4, 0.8);
        }
    }

    &.checkbox_disabled
    {
        color: #999;

        .checkbox__box
        {
            border-color: transparent;
            background: rgba(0, 0, 0, 0.08);
        }

        &.checkbox_checked .checkbox__box:after
        {
            opacity: 0.4;
        }
    }
}
