html {
    height: 100%;
}

.page {
    margin : 0;

    height: 100%;

    .page__inner {
        min-height: 100%;

        margin-bottom: -148px;

        &:after {
            content: "";
            display: block;

            height: 150px;
        }
    }

    .page__content {
        width: 1250px;

        margin: auto;

        padding-top: 95px;
        padding-bottom: 40px;
    }

    .page__footer {
        height: 150px;

        min-width: 1250px;
    }
}
