html {
    height: 100%;
}

.page {
    margin : 0;

    height: 100%;
}

.page__inner {
    min-height: 100%;

    margin-bottom: -148px;

    &:after {
        content: "";
        display: block;

        height: 150px;
    }
}

.page__content {
    max-width: 1000px; /* 100+(150+700+150) */

    margin: auto;

    padding-top: 95px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.page__footer {
    margin: auto;
    height: 150px;
}

@media (--large) {

    .page__content {
        padding-left: 100px;
        width: 1000px;
    }

    .page__footer {
        width: 1100px;
    }
}
