.input_has-addon {

    .input__addon {
        transition: all 200ms ease;

        position: absolute;
        top:      0;
        right:    0;

        text-align: center;

        border-left: 1px solid;
    }

    &.input_size_s {

        .input__box {
            padding-right: $control_size_s;
        }

        .input__addon
        {
            width:  $control_size_s;
            height: $control_size_s;

            line-height: $control_size_s;
        }
    }

    &.input_size_m {

        .input__box {
            padding-right: $control_size_m;
        }

        .input__addon
        {
            width:  $control_size_m;
            height: $control_size_m;

            line-height: $control_size_m;
            font-size:   14px;
        }
    }

    &.input_size_l {

        .input__box {
            padding-right: $control_size_l;
        }

        .input__addon
        {
            width:  $control_size_l;
            height: $control_size_l;

            line-height: $control_size_l;
            font-size:   20px;
        }
    }

    &.input_size_xl {

        .input__box {
            padding-right: $control_size_xl;
        }

        .input__addon
        {
            width:  $control_size_xl;
            height: $control_size_xl;

            line-height: $control_size_xl;
            font-size:   30px;
        }
    }

    .input__control
    {
        text-overflow: ellipsis;
    }
}
