.logo_bkg_white
{
    .logo__icon
    {
        background-image: url(../../assets/_bkg/_white/logo/__icon/logo__icon.svg);
    }

    .logo__text
    {
        background-image: url(../../assets/_bkg/_white/logo/__text/logo__text.svg);
    }
}
