.logo_bkg_color
{
    .logo__icon
    {
        background-image: url(../../design/common.blocks/theme/_alfa/a_color.svg);
    }

    .logo__text
    {
        background-image: url(../../design/common.blocks/theme/_alfa/alfabank_color.svg);
    }
}
