.logo_bkg_color
{
    .logo__icon
    {
        background-image: url(../../assets/_bkg/_color/a.svg);
    }

    .logo__text
    {
        background-image: url(../../assets/_bkg/_color/alfabank.svg);
    }
}
