.logo_bkg_white
{
    .logo__icon
    {
        background-image: url(../../design/common.blocks/theme/_alfa/a_white.svg);
    }

    .logo__text
    {
        background-image: url(../../design/common.blocks/theme/_alfa/alfabank_white.svg);
    }
}
