.logo_bkg_white
{
    .logo__icon
    {
        background-image: url(../../design/common.blocks/assets/_bkg/_white/a.svg);
    }

    .logo__text
    {
        background-image: url(../../design/common.blocks/assets/_bkg/_white/alfabank.svg);
    }
}
