.link_bkg_color {
    color: #fff;
    color: rgba(255,255,255,1);

    border-bottom-color: @color;

    &:hover
    {
        color: #fff;
        color: rgba(255,255,255,0.7);

        border-color: @color;
    }
}
