.input_has-addon {

    .input__addon {
        position: absolute;
        top:      0;
        right:    0;

        text-align: center;
    }

    .input__control {
        text-overflow: ellipsis;
        padding-right: 2px !important;
    }
}
