.radio-group {
    display: inline-block;

    &.radio-group_size_m {
        line-height: 8px;
    }

    &.radio-group_size_l {
        line-height: 9px;
    }

    &.radio-group_type_button {
        white-space: nowrap;
    }
}
