.menu {
    overflow: auto;

    font-family: 'Roboto', sans-serif;

    -moz-box-sizing: border-box;

         box-sizing: border-box;

    -webkit-user-select: none;

       -moz-user-select: none;

        -ms-user-select: none;

            user-select: none;

    outline: 0;

    border-radius: 6px;
}

.menu_size_s:before, .menu_size_s:after, .menu_size_m:before, .menu_size_m:after, .menu_size_l:before, .menu_size_l:after, .menu_size_xl:before, .menu_size_xl:after {
    display: block;
    content: '';
}

.menu_size_s .menu__group-title {
    font-size: 12px;
    padding: 6px 13px;
}

.menu_size_m .menu__group-title {
    font-size: 12px;
    padding: 8px 15px;
}

.menu_size_l .menu__group-title {
    font-size: 15px;
    padding: 10px 17px;
}

.menu_size_xl .menu__group-title {
    font-size: 25px;
    padding: 12px 19px;
}

.menu__group + .menu__group
    {
    border-top: 0;
}

.menu__group:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.menu__group:first-child {
    padding-top: 0;
    border-top: 0;
}

.menu__group-title {
    background: #fafafa;
    border: 1px solid #e6e6e6;
    border-width: 1px 0;
    color: #333;
}

.menu__additional {
    padding-top: 22px;
    padding-bottom: 5px;
    outline: none;
}
