.list_theme_alfa {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    margin-bottom: 2em;

    .list__item {
        margin-left:   -.6em;
        margin-bottom: 1em;

        text-indent: -1.35em;

        padding-left: .7em;

        list-style: none;

        &:before {
            content: '\2014\a0\a0';
        }
    }
}
