.textarea_theme_alfa
{
    font-family: $font_family;

    box-sizing: border-box;

    position: relative;
    display:  inline-block;

    padding: 0;
    margin: 0;

    vertical-align: top;
    line-height: inherit;

    border-radius: $inputs_radius;

    outline:    none;
    background: none;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &::-webkit-input-placeholder
    {
        text-indent: 0;
    }

    &::-moz-placeholder
    {
        opacity: 1;
    }

    /* Decorative element (inner background) */
    &:before
    {
        position: absolute;
        top:      $inputs_border_size;
        right:    $inputs_border_size;
        bottom:   $inputs_border_size;
        left:     $inputs_border_size;

        content: '';

        border-radius: $inputs_radius - $inputs_border_size;
    }

    &.textarea_focused
    {
        z-index: 1;
    }

    &.textarea_disabled
    {
        cursor: default;

        resize: none;

        &:before
        {
            display: none;
        }
    }

    &.textarea_size_s
    {
        font-size: $textarea_font_size_s;

        padding: $textarea_padding_s;

        min-height: $textarea_min_height_s;

    }

    &.textarea_size_m
    {
        font-size: $textarea_font_size_m;

        padding: $textarea_padding_m;

        min-height: $textarea_min_height_m;
    }

    &.textarea_size_l
    {
        font-size: $textarea_font_size_l;

        padding: $textarea_padding_l;

        min-height: $textarea_min_height_l;
    }

    &.textarea_size_xl
    {
        font-size: $textarea_font_size_xl;

        padding: $textarea_padding_xl;

        min-height: $textarea_min_height_xl;
    }
}
