$fontSize = (12 15 20 35)

.link_theme_alfa
{
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

    cursor: pointer;

    transition: all 200ms ease-out;

    text-decoration: none;

    border-bottom-width: 1px
    border-bottom-style: solid;

    padding-bottom: 1px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

    for $sizeVal, i in s m l xl {
        &.link_size_{$sizeVal}
        {
            font-size: ($fontSize[i])px;
        }
    }

    &.link_pseudo
    {
        border-bottom-style: dotted;
    }

    &.link_icon
    {
        border: none;

        .link__icon
        {
            margin-right: 5px;
            vertical-align: middle;
        }
    }
}
