.link_theme_alfa
{
    cursor: pointer;

    transition: all 200ms ease-out;

    text-decoration: none;

    border-bottom-width: 1px
    border-bottom-style: solid;

    padding-bottom: 1px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

    &.link_size_s
    {
        font-size: inputs_font_size_s;
    }

    &.link_size_m
    {

    }

    &.link_size_l
    {
        font-size: inputs_font_size_l;
    }

    &.link_size_xl
    {
        font-size: inputs_font_size_xl;

        padding-bottom: 1px;
    }

    &.link_pseudo
    {
        border-bottom-style: dotted;
    }

}
