/*paddingLeft = (30 30 34 40);*/
/*paddingVert = (3 4 5 6);*/
/*paddingHor = (inputs_padding_s inputs_padding_m inputs_padding_l inputs_padding_xl);*/
/*paddingVert = (3px 8px 12px 18px)*/

/*tipSize = (14 14 15 15);*/

.menu-item_theme_alfa
{
    position: relative;

    white-space: nowrap;

    &.menu-item_disabled
    {
        opacity: 0.3;
    }

    .link_disabled
    {
        cursor: text;
    }

    &.menu-item_checked
    {
        /*background: 0 50% no-repeat url(../../theme/_islands/tip.svg);*/
    }

    &.menu-item_hovered
    {
        cursor: pointer;
    }

    &.menu-item_type_link
    {
        .link
        {
            text-decoration: none;

            color: inherit;
            outline: none;
        }
    }

    &.menu-item_horizontal
    {
        display: inline-block;
    }
}

for sizeVal, i in s m l xl {
    .menu_size_{sizeVal}
    {
        .menu-item_theme_alfa
        {
            padding: 5px 15px;

            /*background-size: (tipSize[i])px (tipSize[i])px;*/
            /*background-position: (paddingHor[i])px 50%;*/
        }

        /*.menu__group + .menu-item_theme_alfa*/
        /*{*/
            /*margin-top: (paddingVert[i])px;*/
        /*}*/

        /*&[class*='menu_mode'] .menu-item_theme_alfa,*/
        /*.menu__group-title ~ .menu-item_theme_alfa*/
        /*{*/
            /*padding: 0 (paddingLeft[i])px;*/
        /*}*/
    }
}
