paddingVert = (3 4 5 6);
paddingHor = (inputs_padding_s inputs_padding_m inputs_padding_l inputs_padding_xl);
fontSize = (links_font_size_s links_font_size_m links_font_size_l links_font_size_xl);
inputFontSize = (inputs_font_size_s inputs_font_size_m inputs_font_size_l inputs_font_size_xl);

.menu-item_theme_alfa
{
    position: relative;

    white-space: nowrap;

    &.menu-item_disabled
    {
        opacity: 0.3;
    }

    .link_disabled
    {
        cursor: text;
    }

    &.menu-item_checked
    {
        cursor: default;
    }

    &.menu-item_hovered
    {
        cursor: pointer;
    }

    &.menu-item_type_link
    {
        .link
        {
            outline: none;
        }
    }

    &.menu-item_horizontal
    {
        display: inline-block;
    }
}

for sizeVal, i in s m l xl {
    .menu_size_{sizeVal}
    {
        .menu-item_theme_alfa.menu-item_horizontal
        {
            font-size: (fontSize[i]);
        }

        .menu-item_theme_alfa
        {
            font-size: (inputFontSize[i])px;
            padding: (paddingVert[i])px (paddingHor[i])px;

            /*background-size: (tipSize[i])px (tipSize[i])px;*/
            /*background-position: (paddingHor[i])px 50%;*/
        }
    }
}

.menu-item_horizontal.menu-item:first-child
{
    padding-left: 0!important;
}

.menu-item_horizontal.menu-item:last-child
{
    padding-right: 0!important;
}

.menu_view_dropdown.menu_theme_alfa
{
    .menu-item:first-child
    {
        margin-top: popup_radius;
    }
    .menu-item:last-child
    {
        margin-bottom: popup_radius;
    }
    .menu-item_hovered
    {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
