$paddingVert = (3 4 5 6);
$paddingHor = (13 15 17 19);
$fontSize = (12 15 20 35);
$inputFontSize = (12 12 15 25);

.menu-item_theme_alfa
{
    position: relative;

    font-family: 'Roboto', sans-serif;

    cursor: pointer;

    &.menu-item_disabled
    {
        opacity: 0.3;
    }

    &.menu-item_checked
    {
        cursor: default;
    }

    &.menu-item_type_link
    {
        .menu-item__link
        {
            outline: none;
        }

        &.menu-item_checked
        {
            .menu-item__link
            {
                border: 0;

                cursor: inherit;

                color: #fff;
                color: rgba(255,255,255,0.7);

                &:hover
                {
                    opacity: 1;
                }
            }
        }
    }

    &.menu-item_horizontal
    {
        display: inline-block;

        &:first-child
        {
            padding-left: 0;
        }

        &:last-child
        {
            padding-right: 0;
        }
    }
}

for sizeVal, i in s m l xl {
    .menu_size_{sizeVal}
    {
        .menu-item_theme_alfa.menu-item_horizontal
        {
            font-size: ($fontSize[i])px;
        }

        .menu-item_theme_alfa
        {
            font-size: ($inputFontSize[i])px;
            padding: ($paddingVert[i])px ($paddingHor[i])px;
        }
    }
}

.menu_view_dropdown.menu_theme_alfa
{
    .menu-item
    {
        margin-bottom: 0;
        margin-top:    0;
    }

    .menu-item_hovered,
    .menu-item_focused
    {
        opacity: .8;
    }
}

.menu-item__additional
{
    padding-top: 20px;
}
