.label {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.label_size_s {
    font-size: 13px;
    line-height: 1.5;
}

.label_size_m {
    font-size: 16px;
    line-height: 1.5;
}

.label_size_l {
    font-size: 22px;
}

.label_size_xl {
    font-size: 22px;
}
