.popup_bkg_color {
    color: #fff;

    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                0 10px 20px -5px rgba(0, 0, 0, 0.4);
}
