$iconSize = (11 25 35 45 55)

.icon_theme_alfa
{
    vertical-align: middle;

    background-repeat: no-repeat;
    background-size:   contain;

    for $sizeVal, i in xs s m l xl {
        &.icon_size_{$sizeVal}
        {
            width:  ($iconSize[i])px;
            height: ($iconSize[i])px;
        }
    }
}
