.spin_theme_alfa-on-color {
    &.spin_size_s { background-image: url('base64/c_s.png'); }
    &.spin_size_m { background-image: url('base64/c_m.png'); }
    &.spin_size_l { background-image: url('base64/c_l.png'); }
    &.spin_size_xl { background-image: url('base64/c_xl.png'); }
}

