@font-face {
  font-family: 'FontAwesome';
  src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon_fa {
    font: normal normal normal 14px FontAwesome;
    font-size: 120%;
}

/*
 * Twitter social icon
 */
.icon_fa.icon_social_twitter:before {
    content: "\f099";
}

/*
 * VK social icon
 */
.icon_fa.icon_social_vk:before {
    content: "\f189";
}

/*
 * Facebook social icon
 */
.icon_fa.icon_social_facebook:before {
    content: "\f09a";
}
