list = ( 'twitter' 'vk' 'facebook' )

for $img in list
    .icon_image_{$img} {

        &.icon_bkg_color {
            content: url(images/_bkg/_color/$img.svg);
        }

        content: url(images/$img.svg);
        width: 25px;
        height: 25px;
    }

/* todo: add size modifiers */
