.icon {
    display: inline-block;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-size: contain;
}

.icon_size_s {
    width: 30px;
    height: 30px;
}

.icon_size_m {
    width: 40px;
    height: 40px;
}

.icon_size_l {
    width: 50px;
    height: 50px;
}

.icon_size_xl {
    width: 60px;
    height: 60px;
}
