footer_height  = 100px;
page_width = 1250px;

html
{
    height: 100%;
}

.page
{
    margin : 0;

    height: 100%;

    .page__inner
    {
        min-height: 100%;

        margin-bottom: - 101px; // border

        &:after {
            content: "";
            display: block;

            height: 100px;
        }
    }


    .page__content
    {
        width: 1250px;
        margin:      auto;
    }

    .page__footer
    {
        height:    100px;
        min-width: 1250px;
        border-top: 1px solid rgba(255, 255, 255, .3);
    }
}
