.heading {
    margin-top: 35px;
    margin-bottom: 25px;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;

    line-height: 1.4;
}

.heading_size_xl {
    font-size: 3.750rem;
}

.heading_size_l {
    font-size: 2.375rem;
}

.heading_size_m {
    font-size: 1.875rem;
}

.heading_size_s {
    font-size: 1.375rem;
    line-height: 2.4rem;
}
