.list {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem;

    padding: 0 0 0 5px;
    margin: 25px 0;
}

.list .list {
    padding-left: 15px;
}

.list__item {
    /*margin-left:   -.6em;*/
    margin-bottom: 6px;

    text-indent: -1.35em;

    padding-left: .7em;

    list-style: none;

    &:before {
        content: '\2014\a0\a0';
    }
}

.list_type_ordered {
    counter-reset: item;

    .list__item {

        padding-left: 1em;

        &:before {
            content: counter(item) ".\a0\a0";
            counter-increment: item;
        }
    }
}
