.dropdown__switcher {
    cursor: pointer;
}

.dropdown__popup {

}

.hint_invalid {

    &.popup_direction_right-top::before {
        margin: -2px 15px 0px -22px;

        border-top: 7px solid transparent;
        border-right-width: 7px;
        border-right-style: solid;
        border-bottom: 7px solid transparent;
    }

    &.popup_direction_left-top::after {
        margin: -2px -22px 0 15px;

        border-top: 7px solid transparent;
        border-left-width: 7px;
        border-left-style: solid;
        border-bottom: 7px solid transparent;
    }

    &.popup_direction_right-top::before {
        border-right-color: #fc5c5e;
    }

    &.popup_direction_left-top::after {
        border-left-color: #fc5c5e;
    }

    &.popup_size_s
    {
        &.popup_direction_right-top,
        &.popup_direction_left-top
        {
            margin-top: -12px;
        }
    }

    &.popup_size_m
    {
        &.popup_direction_right-top,
        &.popup_direction_left-top
        {
            margin-top: -7px;
        }
    }

    &.popup_size_l
    {
        &.popup_direction_right-top,
        &.popup_direction_left-top
        {
            margin-top: -2px;
        }
    }

    &.popup_size_xl
    {
        &.popup_direction_right-top,
        &.popup_direction_left-top
        {
            margin-top: 3px;
        }
    }
}
