.select_theme_alfa-on-white {

    .select__tick {
        background-image: url(../__tick/select__tick_theme_alfa-on-white.svg);
    }

    /* FIXME: maybe remove cascade? */
    .button_hovered {

        .select__tick {
            opacity: 0.6;
        }
    }

    &.select_size_s .select__tick,
    &.select_size_m .select__tick {
        background-size: 11px;
    }

    &.select_size_l .select__tick,
    &.select_size_xl .select__tick {
        background-size: 16px;
    }
}
