.select_theme_alfa-on-color {

    .select__tick {
        background-image: url(../__tick/select__tick_theme_alfa-on-color.svg);
    }

    &.select_focused,
    &.select_focused-hard,
    &.select_opened {

        .select__button {
            border-color: rgba(255, 255, 255, .9);
            box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, .9);

            background-color: rgba(0, 0, 0, .15);
        }

        &.select_hovered {

            .select__button {
                background: transparent;
                box-shadow: none;
                border-color: rgba(255, 255, 255, .9);
            }

        }

    }

}
