.menu-item {
    position: relative;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    line-height: 1.4;
    transition: background 200ms ease;
}

.menu-item:first-child {
    border-radius: 4px 4px 0 0;
}

.menu-item:last-child {
    border-radius: 0 0 4px 4px;
}

.menu-item_disabled {
    cursor: default;
}

.menu-item_checked {
    cursor: default;
}

.menu-item_hidden {
    display: none;
}

.menu-item_type_link {
    cursor: default;

    .menu-item__link {
        outline: none;
    }
}
