$fontSize  = (12 12 15 25);

.label_theme_alfa
{
    font-family: 'Roboto', sans-serif;

    font-weight: 100;
    display: inline-block;

    .label__inner
    {
        line-height: 1.2;
    }
}

for $sizeVal, i in s m l xl {
    .label_size_{$sizeVal}
    {
        font-size: ($fontSize[i])px;
    }
}
