.label_theme_alfa
{
    font-family: $font_family;

    font-weight: 100;
    display: inline-block;

    &.label_size_s
    {
        font-size: 15px;
    }

    &.label_size_m
    {
        font-size: 18px;
    }

    &.label_size_l
    {
        font-size: 22px;
    }

    &.label_size_xl
    {
        font-size: $inputs_font_size_xl;
    }
}
