.label_theme_alfa
{
    font-weight: 400;

    display: inline-block;

    &.label_size_m
    {
        font-size: inputs_font_size_m;

        .label__inner
        {
            display: inherit;

            vertical-align: top;
        }
    }
}
