.select_theme_alfa
{
    max-width: 100%;

    display: inline-block;

    vertical-align: top;

    .select__button
    {
        width: 100%;

        text-align:     left;
        vertical-align: top;

        .button__text
        {
            display: block;

            &:empty:before
            {
                content: '\00a0';
            }
        }

        &.button_size_s
        {
            .button__text
            {
                font-size: inputs_font_size_s;
                padding-right: 27px;
                margin-left:   (inputs_padding_s - 1);
            }

            .icon
            {
                width: 25px;
            }
        }


        &.button_size_m
        {
            .button__text
            {
                font-size: inputs_font_size_m;
                padding-right: 28px;
                margin-left:   (inputs_padding_m - 1);
            }

            .icon
            {
                width: 29px;
            }
        }

        &.button_size_l
        {
            .button__text
            {
                font-size: inputs_font_size_l;
                padding-right: 32px;
                margin-left:   (inputs_padding_l - 1);
            }

            .icon
            {
                width: 33px;
            }
        }

        &.button_size_xl
        {
            .button__text
            {
                font-size: inputs_font_size_xl;
                padding-right: 38px;
                margin-left:   (inputs_padding_xl - 1);
            }

            .icon
            {
                width: 39px;
            }
        }
    }

    .select__tick
    {
        position: absolute;
        top:      0;
        right:    0;

        transition: transform 0.1s ease-out;
    }

    &.select_opened .select__tick
    {
        transform: rotate(-180deg);
    }

    &.select_width_available
    {
        width: 100%;
    }
}
