$fontSize = (12 12 15 25);
$controlMarginLeft = (12 14 16 18);
$controlPaddingRight = (27 28 32 38);

.select_theme_alfa
{
    max-width: 100%;

    display: inline-block;

    vertical-align: top;

    .select__button
    {
        width: 100%;

        text-align:     left;
        vertical-align: top;

        padding: 0;

        .button__text
        {
            display: block;

            &:empty:before
            {
                content: '\00a0';
            }
        }

        for $sizeVal, i in s m l xl {
            &.button_size_{$sizeVal}
            {
                .button__text
                {
                    font-size: ($fontSize[i])px;
                    padding-right: ($controlPaddingRight[i])px;
                    margin-left:   ($controlMarginLeft[i])px;
                }

                .icon
                {
                    width: ($controlPaddingRight[i])px + 1;
                }
            }
        }
    }

    .select__tick
    {
        position: absolute;
        top:      0;
        right:    0;

        transition: all 0.1s ease-out;
        opacity: 0.3;
    }

    .button_hovered
    {
        .select__tick
        {
            opacity: 1;
        }

    }

    &.select_disabled
    {
        .button_hovered .select__tick {
            opacity: 0.3; 
        }
    }

    &.select_opened .select__tick
    {
        transform: rotate(-180deg);
    }

}
