.footer {
    color:       #fff;
    font-family: font_family;
    font-weight: font_weight;
    font-size:   12px;

    width: 1250px;
    margin: auto;

    .footer__inner
    {
        height: $footer_height;

        box-sizing: border-box;
        padding:    40px 40px 40px 28px;
        margin:     auto;

        width: $page_width;
    }

    .footer__menu
    {
        opacity: .4;

        float: left;

        box-sizing: border-box;
        padding:    25px 0;
    }

    .footer__copyright
    {
        opacity: .5;

        line-height: 1.6;
    }
}
