.textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    box-sizing: border-box;

    position: relative;
    display: inline-block;

    padding: 0;
    margin: 0;

    vertical-align: top;

    border-radius: 4px;

    min-height: 5em;
    min-width: 100px;

    outline: none;
    background: none;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &::-webkit-input-placeholder {
        text-indent: 0;
    }

    &::-moz-placeholder {
        opacity: 1;
    }

}

.textarea_focused {
    z-index: 1;
}

.textarea_disabled {
    cursor: default;

    resize: none;
}

.textarea_size_s {
    font-size: 13px;
    padding: 8px 10px;
}

.textarea_size_m {
    font-size: 16px;
    padding: 10px 12px;
}

.textarea_size_l {
    font-size: 18px;
    padding: 12px 15px;
}

.textarea_size_xl {
    font-size: 20px;
    padding: 14px 15px;
}
