.calendar {
    color: #808080;
    background: #fff;

    display: inline-block;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;

    padding: 0;

    border: 1px solid #d9d9db;
    border-radius: 6px;

    -moz-box-sizing: border-box;

         box-sizing: border-box;
}

.calendar.popup_direction_bottom-right {
    margin-top: 7px !important;
    margin-left: 10px !important;
}

.calendar.popup_direction_bottom-right:before {
    margin-top: -29px;
    right: 15px;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0,0,0,0.9);
    content: '';
    position: absolute;
}

.calendar__name {
    text-align: center;
}

.calendar__layout {
    border-spacing: 0;
    border-collapse: separate;
}

.calendar__title,
.calendar__layout {
    padding: 12px;
}

.calendar__title {
    border-bottom: 1px solid #d9d9db;
}

.calendar__dayname {
    line-height: 34px;
    font-weight: 300;

    cursor: default;
    text-align: center;
}

.calendar__dayname_type_weekend {
    color: rgba(242, 46, 21, 1);
}


.calendar__day {
    line-height: 18px;

    width: 18px;
    padding: 8px;

    font-weight: 300;

    text-align: center;
}

.calendar__day_type_weekend {
    color: #d00;
}

.calendar__day_state_current {
    color: #fff;
    position: relative;
    z-index: 2;

    margin: 0 -1px 0 0;

    text-align: center;

    outline: 0;

    -webkit-user-select: none;

       -moz-user-select: none;

        -ms-user-select: none;

            user-select: none;
}

.calendar__day_state_current:after,
.calendar__day_state_current:before {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    left: -1px;

    content: '';

    border-radius: 3px;
}

.calendar__day_state_current:after {
    top: 3px;
    right: 2px;
    bottom: 3px;
    left: 2px;
}

.calendar__day_state_current .calendar__inner {
    position: relative;
    z-index: 1;
}

.calendar__day_type_off .calendar__inner,
.calendar__day_type_weekend-off .calendar__inner,
.calendar__arrow_disabled,
.calendar__arrow_disabled:hover {
    cursor: default;
    opacity: .3;
}

.calendar__inner {
    cursor: pointer;
}

.ua_js_no .calendar__day_state_current:after,
.ua_js_no .calendar__day_state_current:before {
    display: none;
}

@media all and (min-width:0px) {
    .calendar__day_state_current:after {
        background: #b20c00;
    }
}

