banks = ( 'alfa-bank' 'baltijsky' 'bank_moskvy' 'bank_saint-peterburg' 'beeline' 'binbank' 'credit_evropa_bank' 'home_credit' 'mdm' 'moscow_credit_bank' 'mts' 'otkrytie' 'otp' 'promsvyazbank' 'qiwi' 'raiffeisenbank' 'rocketbank' 'rosbank' 'russkii_standart' 'sberbank' 'skb' 'tinkoff' 'trast' 'ubrr' 'unicredit' 'uralsib' 'vozrogdenie' 'vtb24' 'yandex_money' )
cards = ( 'visa' 'visaelectron' 'mastercard' 'maestro' )

.icon_theme_alfa
{
    width:  icon_size_m;
    height: icon_size_m;

    &.icon_size_s
    {
        width:  icon_size_s;
        height: icon_size_s;
    }

    &.icon_size_m
    {
        width:  icon_size_m;
        height: icon_size_m;
    }

    &.icon_size_l
    {
        width:  icon_size_l;
        height: icon_size_l;
    }

    &.icon_size_xl
    {
        width:  icon_size_xl;
        height: icon_size_xl;
    }

    background-repeat: no-repeat;
    background-size:   contain;

    for $name in banks
    {
        &.icon_bank_{$name}
        {
            background-image: url(../assets/_theme/_alfa/bank/$name.svg);
        }
    }

    for $name in cards
    {
        &.icon_card_{$name}
        {
            background-image: url(../assets/_bkg/_color/card/$name.svg);
        }
    }

    .icon_tool_print
    {
        background-image: url(../../assets/_theme/_alfa/print.svg);
    }

    .icon_tool_pdf
    {
        background-image: url(../../assets/_theme/_alfa/pdf.svg);
    }
}
