banks = {
    '2449' : 'alfa-bank',
    '3308' : 'baltijsky',
    '5475' : 'bank_moskvy',
    '285'  : 'bank_saint-peterburg',
    '10223': 'credit_evropa_bank',
    '439'  : 'home_credit',
    '9908' : 'mdm',
    '3001' : 'moscow_credit_bank',
    '1490' : 'mts',
    '4267' : 'otkrytie',
    '7311' : 'otp',
    '1516' : 'promsvyazbank',
    '1309' : 'qiwi',
    '8967' : 'raiffeisenbank',
    '351'  : 'rosbank',
    '6415' : 'russkii_standart',
    '4924' : 'sberbank',
    '5030' : 'skb',
    '256'  : 'tinkoff',
    '1415' : 'trast',
    '2377' : 'ubrr',
    '7687' : 'unicredit',
    '7686' : 'uralsib',
    '244'  : 'vozrogdenie',
    '404'  : 'vtb24'
}

cards = ( 'visa' 'visa-white' 'visaelectron' 'mastercard' 'mastercard-white' 'maestro' 'maestro-white' )
tools = ( 'print' 'pdf' )
actions = ( 'ok' 'fail' 'repeat' )

.icon_theme_alfa
{
    vertical-align: middle;

    background-repeat: no-repeat;
    background-size:   contain;

    &.icon_size_s
    {
        width:  $icon_size_s;
        height: $icon_size_s;
    }

    &.icon_size_m
    {
        width:  $icon_size_m;
        height: $icon_size_m;
    }

    &.icon_size_l
    {
        width:  $icon_size_l;
        height: $icon_size_l;
    }

    &.icon_size_xl
    {
        width:  $icon_size_xl;
        height: $icon_size_xl;
    }

    for $name in tools
    {
        &.icon_tool_{$name}
        {
            background-image: url('../assets/_theme/_alfa/icon/_tool/icon_tool_' + $name + '.svg');
        }
    }

    for $name in banks
    {
        &.icon_bank_{$name}
        {
            background-image: url('../assets/_theme/_alfa/icon/_bank/icon_bank_' + banks[$name] + '.svg');
        }
    }

    for $name in cards
    {
        &.icon_card_{$name}
        {
            background-image: url('../assets/_bkg/_color/icon/_card/icon_card_' + $name + '.svg');
        }
    }

    for $name in actions
    {
        &.icon_action_{$name}
        {
            background-image: url('../assets/_theme/_alfa/icon/_action/icon_action_' + $name + '.svg');
        }
    }
}
