.icon_theme_alfa
{
    width:  icon_size_m;
    height: icon_size_m;

    &.icon_size_s
    {
        width:  icon_size_s;
        height: icon_size_s;
    }

    &.icon_size_m
    {
        width:  icon_size_m;
        height: icon_size_m;
    }

    &.icon_size_l
    {
        width:  icon_size_l;
        height: icon_size_l;
    }

    &.icon_size_xl
    {
        width:  icon_size_xl;
        height: icon_size_xl;
    }

    background-repeat: no-repeat;
    background-size:   contain;
}
