.tooltip_theme_alfa
{
    display: inline-block;

    cursor: pointer;
}

.popup_theme_alfa.tooltip__popup
{
    padding : 15px;

    &.popup_direction_right-top::before,
    &.popup_direction_left-top::after
    {
        display: inline-block;

        vertical-align: middle;

        content: '';

        width:  0;
        height: 0;
    }

    &.popup_direction_right-top::before
    {
        margin: -2px 15px 0px -22px;

        border-top:         7px solid transparent;
        border-right:       7px solid #000;
        border-right-color: rgba(0, 0, 0, 0.8);
        border-bottom:      7px solid transparent;
    }

    &.popup_direction_left-top::after
    {
        margin: -2px -22px 0 15px;

        border-top:        7px solid transparent;
        border-left:       7px solid #000;
        border-left-color: rgba(0, 0, 0, 0.8);
        border-bottom:     7px solid transparent;
    }

    &.popup_direction_bottom-right
    {
        margin-top: 7px !important;
        margin-left: 10px !important;
    }

    &.popup_direction_bottom-right::before
    {
        margin-top : -29px;
        right : 15px;

        border-top:        7px solid transparent;
        border-left:       7px solid transparent;
        border-right:      7px solid transparent;
        border-bottom:     7px solid rgba(0,0,0,0.9);
        content : ''
        position: absolute;
    }
}
