$fontSize            = (12 15);
$checkboxSize        = (12 15);
$checkboxMargin      = (5 7);
$checkboxControlSize = (15 18);

.checkbox_theme_alfa
{
    font-family: 'Roboto', sans-serif;

    font-weight: 300;

    display: inline-block;

    cursor: pointer;

    .checkbox__control
    {
        position: absolute;
        z-index:  -1;

        margin: 0;

        opacity: 0;
    }

    .checkbox__box
    {
        position: relative;
        display:  inline-block;

        border-radius: 3px;

        &:after
        {
            position: absolute;
            top:      -5px;
            left:     2px;

            content: '';

            background-size:  100%;

            visibility: hidden;
            opacity:    0;

            transition: transform .05s ease-out,
                        opacity .05s ease-out,
                        visibility 0s linear .05s;
        }
    }

    for $sizeVal, i in m l {
        &.checkbox_size_{$sizeVal}
        {
            font-size: ($fontSize[i])px;

            .checkbox__box
            {
                line-height: ($checkboxSize[i])px;

                top: 2px;

                width:  ($checkboxSize[i])px;
                height: ($checkboxSize[i])px;

                margin-right: ($checkboxMargin[i])px;

                &:after
                {
                    width:  ($checkboxControlSize[i])px;
                    height: ($checkboxControlSize[i])px;

                    transform: translateY(- ($checkboxMargin[i])px);
                }
            }
        }
    }

    &.checkbox_checked
    {
        .checkbox__box
        {
            &:after
            {
                visibility: visible;
                opacity:    1;

                transform:        translateY(0px);
                transition-delay: 0s;
            }
        }
    }

    &.checkbox_disabled
    {
        cursor: default;
    }

    &.checkbox_type_button
    {
        display: inline-block;
    }

    &.checkbox_view_line
    {
        &.checkbox_size_m
        {
            margin-right: 13px;
        }

        &.checkbox_size_l
        {
            margin-right: 15px;
        }

        &:last-child
        {
            margin-right: 0;
        }
    }
}
