.header
{
    width: 1250px;
    margin : auto;
    height: 90px;

    color:       #fff;
    font-family: font_family;
    font-weight: font_weight;
    z-index: 999;

    transition: all 200ms ease;

    &.header_fixed
    {
        background-color: rgba(1,1,1,.6);
    }

    .header__inner
    {
        width: $page_width;

        padding-left: 28px
        margin:       auto;
        box-sizing:   border-box;
    }

    .header__logo
    {
        float:          left;
        vertical-align: top;
        box-sizing:     border-box;

        padding:      25px 35px;
        margin-right: 30px;

        border-radius:    0 0 5px 5px;
        background-color: red_another;
    }

    .header__content
    {
        padding-top: 20px;
    }

    .header__menu
    {
        float: left;
    }

    .header__helper
    {
        float:          right;
        vertical-align: top;

        margin-right: 30px;
    }

    .header__helper-phone
    {
        padding-top: 10px;
    }

    .header__user
    {
        float: right;
    }
}
