.logo_theme_alfa
{   
    &.logo_size_s
    {
        width: 100px;
    }
    
    &.logo_size_m
    {
        width: 150px;
    }
    
    &.logo_size_l
    {
        width: 200px;
    }
    
    &.logo_size_xl
    {
        width: 300px;
    }
}

.container__logo
{
    width: 19%;
    display: inline-block;
}

.container__litters
{
    width: 73%;
    display: inline-block;
    padding-left: 7%;
}
