.calendar__arrow {
    width: 15px;
    height: 15px;
    margin: 2px 4px;
    opacity: 0.6;

    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
}

.calendar__arrow:hover {
    opacity: 1;
}

.calendar__arrow_direction_left {
    float: left;

    background: url(_direction/calendar__arrow_direction_left.svg);
}

.calendar__arrow_direction_right {
    float: right;

    background: url(_direction/calendar__arrow_direction_right.svg);
}
