.button_bkg_color
{
    color: #fff;
    color: rgba(255,255,255,0.8);

    font-weight: 200;

    background: transparent;

    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-color: rgba(255,255,255,0.5);

    &.button_disabled
    {
        border-color: transparent;

        background: rgba(255,255,255,0.1);

        .button__text
        {
            color: #fff;
            color: rgba(255,255,255,0.5)
        }
    }

    &.button_hovered
    {
        color: #fff;

        border-color: #fff;
    }

    &.button_focused-hard
    {
        z-index: 1;

        background: rgba(255, 255, 255, 0.4);
    }

    &.button_view_action
    {
        border-color: transparent;

        font-weight: 200;
        color:       #fff;

        background: rgba(255,255,255,0.5);

        &.button_hovered
        {
            background: #fff;
            background: rgba(255,255,255,0.7);
        }
    }

    &.button_view_pseudo
    {
        border-style: dashed;
    }
}

.control-group
{
    .button_bkg_color
    {
        border-width: 1px;
        border-style: solid;

        border-right-color: transparent;

        &.button_hovered
        {
            background: rgba(255,255,255,0.2);

            border-color: rgba(255,255,255,0.5);

            border-right-color: transparent;
        }

        &.button_checked
        {
            background:   #fff;

            color:        #000;
        }
    }

    > :last-child
    {
        .button_bkg_color
        {
            border-right-color: rgba(255,255,255,0.5);
        }
    }
}
