.button_bkg_white
{
    color:        black;
    font-weight:  $btns_font_weight;
    background:   white;
    border:       1px solid $gray;

    &.button_hovered
    {
        border-color: black;
    }

    &.button_view_action
    {
        background:   $green;
        border-color: $green;
        color:        white;

        &.button_pressed, &.button_hovered, &.button_focused
        {
            background: darken($green, 10%);
            border-color: darken($green, 10%);
        }
    }

    &.button_view_pseudo
    {
        border-style: dashed;
    }
}

.control-group
{
    {ctx}.button_checked
    {
        background:   $green;
        border-color: $green;
        color:        white;
    }
}
