$green = #4faf5b;

.button_theme_alfa.button_bkg_white
{
    color:        black;
    font-weight:  300;
    background:   #fff;
    border:       1px solid #b0afb4;

    &.button_hovered
    {
        border-color: black;
    }

    &.button_view_action
    {
        background:   $green;
        border-color: $green;
        color:        white;

        &.button_pressed, &.button_hovered, &.button_focused
        {
            background: darken($green, 10%);
            border-color: darken($green, 10%);
        }
    }

    &.button_disabled
    {
        border-color: transparent;
        background: rgba(0,0,0,0.08);

        &.button_checked
        {
            background: rgba(0,0,0,0.08);
        }
    }

    &.button_view_pseudo
    {
        border-style: dashed;
    }
}

.control-group
{
    .button_bkg_white.button_checked
    {
        background:   $green;
        border-color: $green;
        color:        #fff;
    }
}
