.popup_theme_alfa {
    display:    none;
    visibility: hidden;

    margin: -9999px 0 0 -9999px;

    border-radius: popup_radius;
    box-sizing: border-box;

    &.popup_js_inited {
        display: block;
    }

    &.popup_visible {
        visibility: visible;
        margin: 0;
    }

    &.popup_view_column {
        background-color: rgba(0, 0, 0, 0.6);

        &.popup_visible {
            margin: 0 0 0 -35px;
            opacity: 1;
//            transition: opacity 0.5s, visibility 0.5s, margin 0.5s step-start;
        }

        bottom: 0;
        min-width: 300px;
        position: fixed;
        top: 0 !important;
        padding: 20px 35px;
        border-radius: 0;
        opacity: 0;
//        transition: opacity 0.5s, visibility 0.5s, margin 0.5s step-end;
    }

    &.message__control {
        color: white;
        background-color: rgb(252, 92, 94);
    }

    &.popup_visible.popup_direction_right-center.message__control {
        padding: 10px 15px 10px 0px;
        margin: 0 0 0 12px;
    }

    &.popup_visible.popup_direction_left-center.message__control {
        padding: 10px 0px 10px 15px;
        margin: 0 0 0 -12px;
    }

    &.popup_visible.message__control.popup_direction_right-center::before {
        display: inline-block;
        content: url('../../assets/_theme/_alfa/ducky.png');
        margin-left: -7px;
        margin-right: 15px;
        width: 7px;
        height: 15px;
    }

    &.popup_visible.message__control.popup_direction_left-center::after {
        display: inline-block;
        content: url('../../assets/_theme/_alfa/ducky_left.png');
        margin-right: -7px;
        margin-left: 15px;
        width: 7px;
        height: 15px;
    }
}
