networks = ( 'twitter' 'vk' 'facebook' )

.icon_bkg_color
{
    &.icon_currency_rub
    {
        background-image: url('../assets/_bkg/_color/icon/_currency/icon_currency_rub.svg');
    }

    for $name in networks
    {
        &.icon_network_{$name}
        {
            background-image: url('../assets/_bkg/_color/icon/_network/icon_network_' + $name + '.svg');
        }
    }
}
