$banks = {
    '2449' : 'alfa-bank-white',
    '3308' : 'baltijsky-white',
    '5475' : 'bank_moskvy-white',
    '285'  : 'bank_saint-peterburg-white',
    '10223': 'credit_evropa_bank-white',
    '439'  : 'home_credit-white',
    '9908' : 'mdm-white',
    '3001' : 'moscow_credit_bank-white',
    '1490' : 'mts-white',
    '4267' : 'otkrytie-white',
    '7311' : 'otp-white',
    '1516' : 'promsvyazbank-white',
    '1309' : 'qiwi-white',
    '8967' : 'raiffeisenbank-white',
    '351'  : 'rosbank-white',
    '6415' : 'russkii_standart-white',
    '4924' : 'sberbank-white',
    '5030' : 'skb-white',
    '256'  : 'tinkoff-white',
    '1415' : 'trast-white',
    '2377' : 'ubrr-white',
    '7687' : 'unicredit-white',
    '7686' : 'uralsib-white',
    '244'  : 'vozrogdenie-white',
    '404'  : 'vtb24-white'
}
$networks = ( 'twitter' 'vk' 'facebook' )
$tools = ( 'print-white' 'pdf-white' 'email-white' )
$cards = ( 'visa-white' 'mastercard-white' 'maestro-white' )
$arrow = ( 'left' 'right' 'up' 'down' )
$actions = ( 'ok' 'fail' 'repeat' )

.icon_bkg_white
{

    &.icon_currency_rub
    {
        background-image: url('../_currency/icon_currency_rub-white.svg');
    }

    for $name in $cards
    {
        &.icon_card_{$name}
        {
            background-image: url('../_card/icon_card_' + $name + '.svg');
        }
    }

    for $name in $actions
    {
        &.icon_action_{$name}
        {
            background-image: url('../_action/icon_action_' + $name + '.svg');
        }
    }

    for $name in $banks
    {
        &.icon_bank_{$name}
        {
            background-image: url('../_bank/icon_bank_' + $banks[$name] + '.svg');
        }
    }

    for $name in $networks
    {
        &.icon_network_{$name}
        {
            background-image: url('../_network/icon_network_' + $name + '.svg');
        }
    }

    for $name in $tools
    {
        &.icon_tool_{$name}
        {
            background-image: url('../_tool/icon_tool_' + $name + '.svg');
        }
    }

    for $name in $arrow
    {
        &.icon_arrow_{$name}
        {
            background-image: url('../_arrow/icon_arrow_' + $name + '.svg');
        }
    }
}
