networks = ( 'twitter' 'vk' 'facebook' )
tools = ( 'print' 'pdf' 'email' )
arrow = ( 'left' 'right' 'up' 'down' )

.icon_bkg_white {
    color: red;
    &.icon_currency_rub {
        background-image: url('../assets/_bkg/_white/icon/_currency/icon_currency_rub.svg');
    }
}
