networks = ( 'twitter' 'vk' 'facebook' )

.icon_bkg_color
{
    for $name in networks
    {
        &.icon_network_{$name}
        {
            background-image: url(../bkg/_color/$name.svg);
        }
    }
}
