.link {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

    cursor: pointer;

    transition: color 200ms ease-out;

    text-decoration: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.link__text {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 1px;

    transition: border-color 200ms ease-out;
}

.link_size_s {
    font-size: 13px;
}

.link_size_m {
    font-size: 16px;
}

.link_size_l {
    font-size: 22px;
}

.link_size_xl {
    font-size: 30px;
}

.link_view_pseudo .link__text {
    border-bottom-style: dotted;
}

.link_disabled {
    cursor: default;
}

.link__icon {
    margin-right: 5px;
    vertical-align: middle;
}
