$fontSize         = (12 15);
$radioSize        = (12 15);
$radioMargin      = (5 7);
$radioControlSize = (8 9);

.radio_theme_alfa
{
    font-family: 'Roboto', sans-serif;

    display: inline-block;

    cursor: pointer;

    .radio__control
    {
        position: absolute;
        z-index:  -1;

        margin: 0;

        opacity: 0;
    }

    .radio__box
    {
        position: relative;
        display:  inline-block;

        border-radius: 50%;

        &:after
        {
            position: absolute;

            top: 50%;
            left: 50%;

            content: '';

            visibility: hidden;
            opacity:    0;

            border-radius: 50%;

            transition: transform .05s ease-out,
                        opacity .05s ease-out,
                        visibility 0s linear .05s;
        }
    }

    &.radio_checked
    {
        .radio__box
        {
            &:after
            {
                visibility: visible;
                opacity:    1;
            }
        }
    }

    &.radio_disabled
    {
        cursor: default;
    }

    for $sizeVal, i in m l {
        &.radio_size_{$sizeVal}
        {
            font-size: ($fontSize[i])px;

            .radio__box
            {
                line-height: ($radioSize[i])px;

                top: 2px;

                width:  ($radioSize[i])px;
                height: ($radioSize[i])px;

                margin-right: ($radioMargin[i])px;

                &:after
                {
                    margin-top: -($radioControlSize[i] / 2)px;
                    margin-left: -($radioControlSize[i] / 2)px;

                    width:  ($radioControlSize[i])px;
                    height: ($radioControlSize[i])px;
                }
            }
        }
    }

    &.radio_type_button
    {
        display: inline-block;

        .button_checked
        {
            cursor: default;
        }
    }
}
