.radio_theme_alfa
{
    font-family: $font_family;

    font-weight: 100;

    display: block;

    &:hover
    {
        cursor: pointer;
    }

    .radio__control
    {
        position: absolute;
        z-index:  -1;

        margin: 0;

        opacity: 0;
    }

    .radio__box
    {
        position: relative;
        display:  inline-block;

        border-radius: 50%;

        &:before
        {
            position: absolute;
            top:      $radio_border_width;
            right:    $radio_border_width;
            bottom:   $radio_border_width;
            left:     $radio_border_width;

            content: '';

            border-radius: 50%;
        }
    }

    &.radio_size_m
    {
        font-size: $inputs_font_size_m;

        .radio__box
        {
            line-height: $radio_size_m;

            top: floor($radio_control_size_m / 2) - 2;

            width:  $radio_size_m;
            height: $radio_size_m;

            margin-right: $radio_margin_m;

            &:after
            {
                top:  floor($radio_control_size_m / 2) - 1;
                left: floor($radio_control_size_m / 2) - 1;

                width:  $radio_control_size_m;
                height: $radio_control_size_m;
            }
        }
    }

    &.radio_size_l
    {
        font-size: $inputs_font_size_l;

        .radio__box
        {
            line-height: $radio_size_l;

            top: round($radio_control_size_l / 2) - 2;

            width:  $radio_size_l;
            height: $radio_size_l;

            margin-right: $radio_margin_l;

            &:after
            {
                top:  round($radio_control_size_l / 2) - 1;
                left: round($radio_control_size_l / 2) - 1;

                width:  $radio_control_size_l;
                height: $radio_control_size_l;
            }
        }
    }

    &.radio_checked
    {
        .radio__box
        {
            &:after
            {
                position: absolute;

                border-radius: 50%;

                content: '';
            }
        }
    }

    &.radio_disabled
    {
        cursor: default;

        .radio__box
        {
            &:before
            {
                display: none;
            }
        }
    }

    &.radio_type_button
    {
        display: inline-block;

        .button_checked
        {
            cursor: default;
        }
    }
}
