.radio_bkg_white {

    .radio__box {
        transition: all 200ms ease;

        background: rgba(255, 255, 255, .3);

        border: 1px solid #ccc;
    }

    &.radio_checked {

        .radio__box {
            border-color: rgba(0, 0, 0, .4);

            &:after {
                background: #B20C00;
            }
        }
    }

    &.radio_focused,
    &.radio_hovered {

        .radio__box {
            border-color: rgba(0, 0, 0, .4);
        }
    }

    &.radio_disabled {
        color: #999;

        .radio__box {
            border-color: transparent;
            background: rgba(0, 0, 0, 0.06);
        }

        &.radio_checked .radio__box:after {
            opacity: 0.4;
        }
    }

    &.radio_type_button {

        .button_checked {
            background: #ccc;
        }
    }
}
