.select {
    display: inline-block;
    vertical-align: top;
    min-width: 150px;
}

.select__button {
    width: 100%;
    text-align: left;
    vertical-align: top;
}

.select__popup {
    padding: 0;
}

.select__menu {
    overflow: auto;
}

.select__tick {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;

    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.1s ease-out;
    opacity: .9;
}

.select_disabled .select__tick {
    opacity: .3;
}

.select_size_s .select__button,
.select_size_m .select__button {
    padding-right: 30px;
    padding-left: 10px;
}

.select_size_l .select__button,
.select_size_xl .select__button {
    padding-right: 34px;
    padding-left: 15px;
}

.select__button.button_hovered .select__tick {
    opacity: 1;
}

.select_size_s .select__tick,
.select_size_m .select__tick {
    width: 30px;
    background-size: 8px;
}

.select_size_l .select__tick,
.select_size_xl .select__tick {
    width: 34px;
    background-size: 10px;
}
