.popup_height_available {
    bottom: 0;
    top: 0 !important;

    width: 300px;

    position: fixed;
    padding: 5px 23px;

    border-radius: 0;

    opacity: 0;

    transition: opacity 400ms ease;

    &.popup_visible {
        margin: 0 0 0 -35px;
        opacity: 1;
    }
}
